@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "大众进口汽车区域管理工具包";
}
@section HeadCss{
    <link rel="stylesheet" href="~/css/design/common.css" />
    <link rel="stylesheet" href="~/css/design/style.css" />
    <!--日历-->
    <link rel="stylesheet" href="~/css/design/asDatepicker.css">
    <style type="text/css">
        .meng .eventlist {
            background-color: #fff;
            width: 400px;
            height: 361px;
            padding: 19px 34px;
            left: 50%;
            margin-left: -385px;
            top: 50%;
            margin-top: -460px;
            color: #a0a0a0;
            background-color:beige;
             border-radius: 10px;
        }
        .meng .showlist{
            overflow-y: auto;
            line-height: 28px;
            height: 300px;
             width: 330px;
        }
        .meng .showlist p {
            border-bottom: 1px solid #eeeeee;
            padding: 0 5px;
        }

        .meng .showlist p span {
            width: 322px;
            display: inline-block;
        }
        .dotasklist {
            /*background-color: lightyellow;*/
            width: 620px;
            height: 381px;
            /*padding: 19px 34px;*/
            /*padding-left:22px;*/
            left: 50%;
            top: 50%;
            color: #a0a0a0;
            line-height: 28px;
            overflow-y: auto;
        }
        .dotasklist p {
            border-bottom: 1px solid #eeeeee;
            padding: 0 3px;
        }
        .dotasklist p span {
            width: 270px;
            display: inline-block;
        }
        ol{list-style-type:decimal;width:580px; }  
        ol li{ list-style-position:outside;} 
        
        .index_tz ol{list-style-type:decimal;width:880px;}  
        .plancolor{
            color: #00b7ee;
        } 
        .noticeacolor{
            color:#86b926;
        }
        .noticefcolor{
            color:#86b926;
        }
        .impacolor{
            color:  #00b7ee;
        }
        .imprcolor{
            color:  #fd6100;
        }
        .modal-header-custom{
            padding-bottom:10px;
            padding-left:0px;
            padding-top:0px;
            border-bottom:2px solid #e5e5e5 hidden;
            min-height:16.42857143px;
        }
        div.dotasklist>ol.list-group{
            width:620px;
        }
        .height14{height:446px;}
        div.container2{
            width:1140px;
        }
        div.container2>div.cx_out{
        border-bottom: hidden;
        padding-bottom: 25px;
        /*width: 850px;*/
        width: 1140px;
        }
        div.container2>div.cx_out>ul.fix>li.cx_inner{
        /*padding: 11px 20px 11px 10px;*/
          /*width:380px;*/
          width:530px;
          margin-top: 20px;
          /*height: 78px;*/
          height: 118px;
          /*background-color: lightyellow;*/
        }
        div.container2>div.cx_out>ul.fix>li.cx_inner>div.cx_innertime{
              background-color: #eeeeee;
              /*background-color: #f3d501;*/
              width: 75px;color: #313131;padding: 5px 0;margin-right: 20px;}
        div.container2>div.cx_out>ul.fix>li.cx_inner>div.cx_con {
            /*width: 285px;*/
            width: 380px;
        }
        div.container1>div.index_rili{width:415px;padding-left:20px;height: 438px;padding-bottom: 23px;}
        .cx_con p {
            line-height:unset;
        }
    </style>
}
<div class="row">
    <div class="right_bt fix">
        @*<a  class="now db fl time" id="a_date_id"><span class="kuai ml40 mr10"></span></a>*@
        <a class="now db fl time" id="a_date_id"  style="text-decoration:none;"><span class="kuai ml5 mr10"></span></a>
    </div>
    <p class="border"></p>
    <div class="container1 fix height14">
        <div class="fl index_rili fix" id="box1" style="border-right: 1px solid #dcdcdc;width:446px;padding-left:0px;">
            <div class="fr vw_listmore pr25 pt20 mr20"><a href="/Calendar/CAL010" id="calendar_more_id"><span></span><span></span><span></span></a></div>
            <p class="index_kbt">日历和计划任务</p>
            <input type="text" id="calendar" class="bottombtn">
        </div>
        <div class="fl index_rili fix" id="box2" style="padding-left:52px;">
            <p class="cle index_kbt">待办事项</p>
            <div class="dotasklist index_tabcon">
                <ol class="list-group"></ol>
            </div>
        </div>
    </div>
    @*<div class="container1" style="border-top: 1px solid #dcdcdc;">
            <div class="index_tz">
                <p class="index_kbt">未读通知</p>
                <ol>
                </ol>
            </div>
        </div>*@
    <div class="container2"  style="border-top: 1px solid #dcdcdc;">
        <div class="cx_out">
       </div>
    </div>
</div>
<div class="row">
    <div class="meng rel">
        <div class="abs eventlist">
            <div class='modal-header-custom'>
                <button type='button' class='close'>
                    <span aria-hidden='true'>&times;</span>
                    <span class='sr-only'>Close</span>
                </button>
                <h4 class='modal-title' style="color:#178acc">事件列表</h4>
            </div>
            <div class="showlist">

            </div>
        </div>
    </div>
</div>
@section Scripts{
    @*<script type="text/javascript" src="~/js/design/jquery-1.8.3.min.js"></script>*@
<script src="~/js/design/jquery.mobile.custom.js"></script>
<script src="~/js/design/jquery.toc.min.js"></script>
<script src="~/js/design/prism.js"></script>
<script src="~/js/design/jquery-asDatepicker.js"></script>
<script src="~/js/design/language.js"></script>
<script type="text/javascript" src="~/js/design/js.js"></script>
<script type="text/javascript">
var searchD;
$(document).ready(function () {
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var day = date.getDate();
    var welcomestr = "今天是" + year + "年" + month + "月" + day + "日，欢迎您！";
    $("#a_date_id").append(welcomestr);
    $('.close').click(function () {
        $('.meng').animate({ opacity: 0 }, 600);
        $('.meng').css({
            display: 'none'
        });
    });
    searchD = year + '-' + month + '-' + day;
    fn_SearchData(searchD);
});
</script>
<script type="text/javascript">
function fn_SearchData(searchdate) {
    $.sa.get(GETALLDOITEMLIST, {
        'UserId': '@Context.Request.Cookies[SessionKeys.SESSION_USERID]',
        'SearchDate': searchdate
    },
    {
        "success": function (data) {
            if (data != null && data.body != "") {
                var resultList = JSON.parse(data.body)
                $("#calendar").asDatepicker({
                    namespace: 'calendar',
                    lang: 'zh',
                    position: 'top',
                    alwaysShow: true,
                    eventCustom: resultList.FirstItemList
                });
                $("#calendar").hide();
                var secondList = resultList.SecondItemList;
                if (secondList != undefined && secondList != null && secondList.length != 0 && !(secondList.length == 1 && secondList[0].Title == "")) {
                    $("div.dotasklist>ol").children().remove();
                    for (var y = 0; y < secondList.length; y++) {
                        var classVal = '';
                        if (secondList[y].DataType == "Plan")
                            classVal = 'plancolor';
                        else if (secondList[y].DataType == "ANoticeA")
                            classVal = 'noticeacolor';
                        else if (secondList[y].DataType == "BImpA")
                            classVal = 'impacolor';
                        else if (secondList[y].DataType == "CImpR")
                            classVal = 'imprcolor';
                        else if (secondList[y].DataType == "ANoticeF")
                            classVal = 'noticefcolor';
                        var idval = secondList[y].DataType + '|' + secondList[y].Id + '|' + secondList[y].Status;
                        var $p = $('<li id=' + idval + ' class="list-group-item" style="cursor: pointer"><font style="cursor: auto;font-weight:bold;" class="' + classVal + '">[' + secondList[y].TypeName + ']</font>' + secondList[y].Title + '</li>');
                        $p.on('dblclick', function (e) {
                            var clickobj = $(e.target);
                            var searchval = clickobj.attr('id');
                            fn_OpenPopByPageType(searchval);
                        });
                        $("div.dotasklist>ol").append($p);
                    }

                } else {
                    $("div.dotasklist>ol").children().remove();
                    var $p = $('<li>无待办事项</li>');
                    $("div.dotasklist>ol").append($p);
                }
                //var thirdList = resultList.ThirdItemList;
                //if (thirdList != undefined && thirdList != null&&!(thirdList.length == 1 && thirdList[0].Title == "")) {
                //    for (var y = 0; y < thirdList.length; y++) {
                //        var idval = thirdList[y].Id + '|' + thirdList[y].Status;
                //        var $p = $('<li id=' + idval + '>' + thirdList[y].Title + "</li>");
                //        $p.on('dblclick', function (e) {
                //            var clickobj = $(e.target);
                //            var searchval = clickobj.attr('id');
                //            fn_OpenPopByPageType(searchval);
                //        });
                //        $("div.index_tz>ol").append($p);
                //    }
                //}
                var thirdList = resultList.ThirdItemList;
                if (thirdList != undefined && thirdList != null && thirdList.length != 0 && !(thirdList.length == 1 && thirdList[0].Title == "")) {
                    var $divcon = $('div.container2>div.cx_out');
                    $divcon.find("ul").remove();
                    for (var y = 0; y < thirdList.length; y++) {
                        var idval = thirdList[y].Id + '|' + thirdList[y].Status;
                        var $ulrow;
                        var $tdarray = thirdList[y].Title.split(',');
                        if (y % 2 == 0) {
                            $ulrow = $('<ul class="fix" id=' + ('ulrow_' + y) + '></ul>');
                            $divcon.append($ulrow);
                            var $p = $('<li class="fix cx_inner rel fl mr30"   style="cursor: pointer" id="' + idval + '" name="' + idval + '"><img src="../css/images/index2_26.png" alt=""class="abs s_jb" name="' + idval + '"><div class="fl cx_innertime" name="' + idval + '"><span class="tc db" name="' + idval + '">' + $tdarray[0].substr(6, 2) + '</span><i class="tc db"  name="' + idval + '">' + $tdarray[0].substr(0, 6) + '</i></div><div class="fl cx_con"><p  name="' + idval + '">' + $tdarray[1] + '</p><span class="fix cx_conxq db"  name="' + idval + '">' + thirdList[y].Content + '</span></div></li>');
                            $p.on('dblclick', function (e) {
                                var clickobj = $(e.target);
                                var searchval = clickobj.attr('name');
                                if(searchval!=undefined&&searchval!=null)
                                        fn_OpenPopByPageType(searchval);
                            });
                        } else {
                            var $p = $('<li class="fix cx_inner rel fl"   style="cursor: pointer" id="' + idval + '" name="' + idval + '"><img src="../css/images/index2_26.png" alt=""class="abs s_jb" name="' + idval + '"><div class="fl cx_innertime" name="' + idval + '"><span class="tc db" name="' + idval + '">' + $tdarray[0].substr(6, 2) + '</span><i class="tc db"  name="' + idval + '">' + $tdarray[0].substr(0, 6) + '</i></div><div class="fl cx_con"><p  name="' + idval + '">' + $tdarray[1] + '</p><span class="fix cx_conxq db"  name="' + idval + '">' + thirdList[y].Content + '</span></div></li>');
                            $p.on('dblclick', function (e) {
                                var clickobj = $(e.target);
                                var searchval = clickobj.attr('name');
                                console.log(clickobj[0]);
                                if(searchval!=undefined&&searchval!=null)
                                       fn_OpenPopByPageType(searchval);
                            });
                        }
                        $ulrow.append($p);
                    }
                } else {
                    var $divcon = $('div.container2>div.cx_out');
                    $divcon.find("ul").remove();
                    var $ulrow = $('<ul class="fix" ></ul>');
                    $divcon.append($ulrow);
                    var $p = $('<li class="fix cx_inner rel fl"><div class="fl cx_con"><p>无未读通知</p></div></li>');
                    $ulrow.append($p);
                }
            }
        },
        "failure": function (data, statusText, jqXHR) {
            $("#callback_1_layer").html(data.msg);
        }
    }
    , $("body"));
}
</script>
<script type="text/javascript">
function fn_OpenPopup(clickday) {
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1 >= 10 ? date.getMonth() + 1 : "0" + (date.getMonth() + 1);
    var clickday = clickday >= 10 ? clickday : "0" + clickday ;
    console.log(year + '-' + month + '-' + clickday);
    $.sa.get(SEACHCALENDERITEM, {
        'UserId': '@Context.Request.Cookies[SessionKeys.SESSION_USERID]',
        'SDate': year + '-' + month + '-' + clickday,
        'EDate': year + '-' + month + '-' + clickday
    },
    {
        "success": function (data) {
            if (data != null && data.body != "" && data.body != "[]") {
                $("div.showlist").find("p").remove();
                var resultList = JSON.parse(data.body);
                //$('.meng .eventlist').css("height", (44 * resultList.length+56) + "px");
                for (var y = 0; y < resultList.length; y++) {
                    var $p = $("<p><span>" + resultList[y].Title + "</span></p>");
                    $("div.showlist").append($p);
                    if (resultList[y].Type == "S")
                        $p.css("background-color", "yellow");
                }
                $('.meng').animate({ opacity: 1 }, 600);
                $('.meng').css({ display: 'block' });
            }
        },
        "failure": function (data, statusText, jqXHR) {
            $("#callback_1_layer").html(data.msg);
        }
    }
    , $("body"));
}
</script>
<script type="text/javascript">
function fn_OpenPopByPageType(searchval) {
    var valarry = searchval.split('|');
    var pagetype = valarry[0];
    if (pagetype == 'ANoticeA') {
        $.sa.pop('/Notice/NOT020P', {
            height: '520px', width: 850, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>通知审核</span>',
            params: {
                NoticeReaderId: valarry[1],
                Status: valarry[2]
            }
            , popcallback: function (msg) {
                if (msg != null && msg.length > 0) {
                    $("div.dotasklist>ol").find('li[id="' + searchval + '"]').remove();
                    if ($("div.dotasklist>ol").find('li').length == 0) {
                        $("div.dotasklist>ol").children().remove();
                        var $p = $('<li>无待办事项</li>');
                        $("div.dotasklist>ol").append($p);
                    }
                }
            }
        });
    } else if (pagetype == 'BImpA') {
        var idarray = valarry[1].split(',');
        $.sa.pop("/Improve/IMP020P", {
            params: { 'pamImprovementId': idarray[0], 'pamPlanStatus': valarry[2], 'pamPlanApproalYN': idarray[3], 'pamAllocateYN': idarray[5] }
            , width: 1000, maxHeight: '520px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>改善计划</span>'
            , popcallback: function () {
                $("div.dotasklist>ol").find('li[id="' + searchval + '"]').remove();
                if ($("div.dotasklist>ol").find('li').length == 0) {
                    $("div.dotasklist>ol").children().remove();
                    var $p = $('<li>无待办事项</li>');
                    $("div.dotasklist>ol").append($p);
                }
            }
        });
    } else if (pagetype == 'ANoticeF') {
        var idarray = valarry[1].split(',');
        $.sa.pop('/Notice/NOT030P', {
            height: '520px', width: 800, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>通知反馈</span>',
            params: {
                NoticeId: idarray[0],
                DisId: idarray[2],
                DepartId: idarray[3],
                FeedbackYN: idarray[5],
                Status: valarry[2]
            }
                , popcallback: function (msg) {
                    if (msg != null && msg.length > 0) {
                        $("div.dotasklist>ol").find('li[id="' + searchval + '"]').remove();
                        if ($("div.dotasklist>ol").find('li').length == 0) {
                            $("div.dotasklist>ol").children().remove();
                            var $p = $('<li>无待办事项</li>');
                            $("div.dotasklist>ol").append($p);
                        }
                    }
                }
        });
    } else if (pagetype == 'CImpR') {
        var idarray = valarry[1].split(',');
        $.sa.pop("/Improve/IMP030P", {
            params: {
                'pamImprovementId': idarray[1],
                'pamImpResultId': idarray[0],
                'pamResultStatus': valarry[2],
                'pamResultApproalYN': idarray[5],
                'pamAllocateYN': idarray[6]
            }, width: 1000, maxHeight: '520px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>改善结果</span>'
            , popcallback: function () {
                $("div.dotasklist>ol").find('li[id="' + searchval + '"]').remove();
                if ($("div.dotasklist>ol").find('li').length == 0) {
                    $("div.dotasklist>ol").children().remove();
                    var $p = $('<li>无待办事项</li>');
                    $("div.dotasklist>ol").append($p);
                }
            }
        });

    } else if (pagetype == 'Plan') {
        $.sa.pop('/Task/TAS030P', {
            height: '520px', width: 1200, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>计划任务详细</span>',
            params: {
                PId: valarry[1],
                PStatus: valarry[2]
            }
            , popcallback: function (msg) {
                if (msg != null && msg.length > 0) {
                    $("div.dotasklist>ol").find('li[id="' + searchval + '"]').remove();
                    if($("div.dotasklist>ol").find('li').length==0)
                    {
                        $("div.dotasklist>ol").children().remove();
                        var $p = $('<li>无待办事项</li>');
                        $("div.dotasklist>ol").append($p);
                    }
                }
            }
        });
    } else {
        var idarray = valarry[0].split(',');
        $.sa.pop("/Notice/NOT010P", {
            params: {
                'pamId': idarray[0],
                'pamStatus': valarry[1],
                'pamDisId': idarray[1],
                'pamDepartId': idarray[2]
            }
            , width: 1000, height: '520px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>通知详细</span>'
            , popcallback: function () {
                fn_SearchData(searchD);
            }, close: function () { alert(1);}
        });
        setTimeout(function () { fn_SearchData(searchD) }, 2000);
       }
   }
</script>
}
