<style type="text/css">
    a {
        color: #1E1D3A;
    }

        a:hover {
            color: #0088cc;
        }
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div id="topMenuContent" class="container-fluid">
            <a id="aTitle" class="brand hidden-phone top-title" href="@Url.Action("Main010", "MainPage")" style="padding:0px;width:200px;">
                <img src="~/images/banner1.svg" style="height: 60px; width: 117px;
                    padding: 10px 0 10px 40px;" alt="" />
            </a>
            <div class="group-menu nav-collapse collapse">
                <ul class="nav nav-pills nav_position" style="margin-top: 15px;">
                    <li class="group">
                        <a href="@Url.Action("Main010", "MainPage")">通知查询</a>
                    </li>
                    <li class="group">
                        <a href="@Url.Action("Main010", "MainPage")">待回复</a>
                    </li>
                    <li class="group">
                        <a href="@Url.Action("Main010", "MainPage")">已回复</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
