@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "经销商";
}
@section HeadCss{
    <style>
        .jqgridbuttonwidth {
            width: 90%;
        }
    </style>
}
<div class="col-xs-12">
    <div class="pull-right">
        <button class="btn btn-primary" id="btnComfirm">
            <span class="glyphicon glyphicon-ok gap-icon"></span>确认
        </button>
    </div>
</div>
<div class="row-fluid">
    <div id="Grid" class="col-xs-12" style="margin-top:5px;">
        <table id="gridDis" class="ui-jqgrid-htable"></table>
        <div id="pager" class="page">
        </div>
    </div>
</div>
@section Scripts{
    <style type="text/css">
        body {
            padding-top: 5px;
        }
    </style>
    <!-- 1. Load -->
    <script type="text/javascript">
        var _showMul, _disList, _grid,_noticeId;
        $(document).ready(function () {
            _showMul = Request["pamShowMul"] == undefined ? 1 : parseInt(Request["pamShowMul"]);
            _disList = Request["pamDisList"] == undefined || Request["pamDisList"] == "undefined" ? null : JSON.parse(Request["pamDisList"]);
            _noticeId = Request["pamNoticeId"] == undefined ? null : Request["pamNoticeId"];
            _grid = $("#gridDis");
            Initialize();
            InitData();
        });
    </script>

    <!-- 2. Init -->
    <script type="text/javascript">
        function Initialize() {
            fn_GridInit();
            //var width = $("div.ui-jqgrid-bdiv").width();
            //$("div.ui-jqgrid-sdiv").css("width", width);
            $("#btnComfirm").on("click", function () {
                fn_Confirm();
            });
        }
        function InitData() {
            if (_showMul == 0) {
                if (_noticeId != undefined && _noticeId != null && _noticeId != '0') {
                    //var disJson = [];
                    //$.each(_disList, function (x, item) {
                    //    var obj = {};
                    //    obj.Id = item.DisCode;
                    //    obj.DisName = item.DisName;
                    //    disJson.push(obj);
                    //})
                    fn_SearchDtlData(_noticeId);
                }
                $("#btnComfirm").hide();
            } else
                fn_Search();
        }
    </script>
    <!-- 3. Validate -->
    <script type="text/javascript">
    </script>
    <!-- 4. Custom Function -->
    <script type="text/javascript">
        function fn_Search() {
            $.sa.get(SEARCHNOTIFIDIS, { UserId: parseInt("@Context.Request.Cookies[SessionKeys.SESSION_USERID]") },
                         {
                             "success": function (data) {
                                 if (data != null && JSON.parse(data.body).length > 0) {
                                     fn_SetGrid(JSON.parse(data.body));
                                 } else {
                                     $.sa.warning("没有查询到数据！");
                                     _grid.jqGrid("clearGridData");
                                 }
                             },
                             "failure": function (data, statusText, jqXHR) {
                                 _grid.jqGrid("clearGridData");
                                 $.sa.warning(data.msg);
                             }
                         }, $("body"));
        }
        function fn_Confirm() {
            var ids = _grid.jqGrid('getGridParam', 'selarrrow');
            var disList = [];
            if (ids && ids.length == 0) {
                window.parent.popcallback([]);
            } else {
                for (var i = 0; i < ids.length; i++) {
                    var rowdata = _grid.jqGrid("getRowData", ids[i]);
                    disList.push(rowdata.DisId);
                }
                window.parent.popcallback(disList);
            }
        }
    </script>
    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_GridInit() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'DisName', label: '经销商名', width: 295, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'DisId', hidden: true
                    }
                ],
                width: $('#Grid').width(),
                minHeight: 0,
                //height: 178,
                maxHeight: 178,
                //autoSizeMode: true,
                //autowidth: true,
                loadonce: true,
                shrinkToFit: true,
                forcefit: true,
                shrinkToFit: false,
                multiselect: _showMul,
                rownumbers: true,
                rownumWidth: 30,
                //rowNum: 50,
                //rowList: [50, 100, 300],
                rowNum: 10000,
                scroll: 1,
                //rowList: [10, 20, 50],
                loadui: true,
                pginput: false,       // 페이지 입력창을 표시하는 것에 대한 속성
                pgbuttons: false,     // 페이지 이동 버튼을 표시하는 것에 대한 속성
                pgtext: null,
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                //autoScroll: false,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                        //                    ShowNoDataDiv("grid","msg","没有数据");
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='gridDis_rn']").addClass("readonlycell");
                    if (_disList != undefined && _disList != null && _disList.length > 0) {
                        if (_showMul ==1) {
                            var ids = _grid.jqGrid('getDataIDs');
                            for (var x = 0; x < ids.length; x++) {
                                var rowId = ids[x];
                                for (var y = 0; y < _disList.length; y++) {
                                    if (_grid.jqGrid("getRowData", rowId).DisId == _disList[y]) {
                                        _grid.setSelection(rowId, true);
                                    }
                                }
                            }
                        } else {
                            var ids = _grid.jqGrid('getDataIDs');
                            for (var x = 0; x < ids.length; x++) {
                                var rowId = ids[x];
                                _grid.setSelection(rowId, true);
                            }
                        }
                    }
                }
            });
        }

        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
    </script>

    <!--6. SearchReader-->
    <script type="text/javascript">
    function fn_SearchDtlData(noticeId) {
        $.sa.get(SEARCHDISREADER, {
               'NoticeId': noticeId
                            },
                            {
                            "success": function (data) {
                                if (data != null && JSON.parse(data.body).length > 0) {
                                    fn_SetGrid(JSON.parse(data.body));
                                } else {
                                    $.sa.warning("没有查询到数据！");
                                   _grid.jqGrid("clearGridData");
                                 }
                            },
                            "failure": function (data, statusText, jqXHR) {
                            $("#callback_1_layer").html(data.msg);
                            }
                            }
                            , $("body"));
          }
    </script>
}