@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "通知反馈POP";
}
@section Scripts{
    <style type="text/css">
        #txtContent, #txtFeedBackContent, #txtReplayContent {
            height: 150px;
            max-height: 100px;
            max-width: 580px;
        }

        .text-left {
            max-width: 100%;
        }      
    </style>
    <!-- 1. Load -->
    <script type="text/javascript">
        var _noticeid, _disid, _departid, _feedbackyn, _status;
        $(document).ready(function () {
            _noticeid = Request["NoticeId"];
            _disid = Request["DisId"];
            _departid = Request["DepartId"];
            _feedbackyn = Request["FeedbackYN"];
            _status = Request["Status"];
            fn_Initial();
            fn_InitialData();       
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function fn_Initial() {
            if (_feedbackyn == "Y" && (_status == "U" || _status == "R")) {
                $("#divReplayContent").css("display", "none");
            } else if (_feedbackyn == "N" || _status == "P" || _status == "W") {
                $("#txtReplayContent").attr("disabled", "disabled");
                $("#container").css("display", "none");
                $("#btn_save_id").css("display", "none");
                $("#btn_clear_id").css("display", "none");
                $("#txtFeedBackContent").attr("disabled", "disabled");
            } 
            $("#btn_save_id").on("click", function () {
                fn_Save();
            });
            fn_GridInit();
            fn_GridInit1();
        }
        function fn_InitialData() {
            fn_Search(_noticeid, _disid, _departid);
        }
    </script>
    <!-- 3. Validate -->
    <script type="text/javascript">

    </script>
    <!-- 4. Custom Function -->
    <script type="text/javascript">
        function fn_Addrow(picName,key) {
            var ids = $("#gridfeedback").getDataIDs();
            var pref = $.jgrid.uidPref;
            var newid = 1;
            if (ids && ids.length > 0) {
                var regx = new RegExp(pref, 'g');
                var nids = ids.join(',').replace(regx, '').split(',');
                var maxid = Math.max.apply(Math, nids);
                newid = maxid + 1;
            }
            newid = pref + (newid).toString();
            var rowdata = {
                ShareUrl: picName,
                AttachName: picName,
                Url: host + g_dirname + key
            };
            $("#gridfeedback").addRowData(newid, rowdata, "first");
            $($("#gridfeedback").getGridRowById(newid)).addClass("edited");
        }
        function fn_Search(noticeid, disid, departid) {
            //$.sa.get('http://localhost:6505/toyota/api/v1/notifiFeedB/SearchNoticeFeedBackDtl',
            $.sa.get(SEARCHNOTICEFEEDBACKDTL,
                          { NoticeId: noticeid, UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]', DisId: disid, DepartId: departid },
                          {
                              "success": function (data) {
                                  if (data != null && JSON.parse(data.body).length > 0) {
                                      fn_SetGrid(JSON.parse(data.body)[0].NoticeAttachList);
                                      $("#txtTitle").val(JSON.parse(data.body)[0].Title);
                                      $("#txtContent").val(JSON.parse(data.body)[0].Content);
                                      
                                      if (_status=="N") {
                                          $("#txtFeedBackContent").val("");
                                          fn_SetGrid1("");
                                          $("#divReplayContent").css("display", "none");
                                      }else{
                                          $("#txtFeedBackContent").val(JSON.parse(data.body)[0].FeedbackContent);
                                          fn_SetGrid1(JSON.parse(data.body)[0].AttachList);
                                          $("#txtReplayContent").val(JSON.parse(data.body)[0].ReplyContent);
                                      }
                                      

                                  } else {
                                      $.sa.warning("没有查询到数据！");
                                      fn_SetGrid("");
                                  }
                              },
                              "failure": function (data, statusText, jqXHR) {
                                  fn_SetGrid("");
                                  $.sa.warning(data.msg);
                              }
                          }, $("body"));
        }
        function fn_Clear() {
            parent.popcallback("");
        }
        function fn_Save() {
            var content = $("#txtFeedBackContent").val();
            if (content=="") {
                $.sa.warning("请填写反馈内容！");
                return;
            }
            var arr = [];
            var ids = $("#gridfeedback").getDataIDs();
            if (ids && ids.length > 0) {
                for (var i = 0; i < ids.length; i++) {
                    //var a = new Object();
                    //a = { AttachName: $("#gridfeedback").jqGrid("getRowData", ids[i]).AttachName, Url: $("#gridfeedback").jqGrid("getRowData", ids[i]).Url };
                    //arr.push(a);
                    arr.push($("#gridfeedback").jqGrid("getRowData", ids[i]));
                }
            }
            var item = { NoticeId: _noticeid, UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]', ReplyContent: content, Status: "S", list: arr };

            //$.sa.post('http://localhost:6505/toyota/api/v1/NotifiFeedB/SaveFeedBackNotice',
            $.sa.post(SAVEFEEDBACKINFO,
                          JSON.stringify(item),
                          {
                              "success": function (data) {
                                  if (data != null && data.msg == "") {
                                      //$.sa.warning("保存成功！");
                                      parent.popcallback("1");
                                  } else {
                                      $.sa.warning("保存失败！");
                                      //fn_SetGrid("");
                                  }
                              },
                              "failure": function (data, statusText, jqXHR) {
                                  //fn_SetGrid("");
                                  $.sa.warning(data.msg);
                              }
                          }, $("body"));
        }     
    </script>
    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_GridInit() {
            $("#gridattch").jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'ShareUrl', label: '附件', width: 210, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        },
                        formatter: fn_PreviewFile, unformat: fn_UnPreviewFile
                    },
                    {
                        name: 'Url', hidden: true
                    },
                    {
                        name: 'AttachName', hidden: true
                    }
                ],
                width: $('#Grid').width(),
                //height: 'auto',
                minHeight: 0,
                maxHeight: 10,
                loadonce: true,
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 10000,
                //rowList: [5, 10],
                loadui: true,
                pginput: false,       // 페이지 입력창을 표시하는 것에 대한 속성
                pgbuttons: false,     // 페이지 이동 버튼을 표시하는 것에 대한 속성
                pgtext: null,
                footerrow: false,
                cellsubmit: 'clientArray',
                //pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                afterInsertRow: function (rowid, r) {
                },
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='gridattch_rn']").addClass("readonlycell");
                }
            });
        }
        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            $("#gridattch").clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
        function fn_GridInit1() {
            $("#gridfeedback").jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'ShareUrl', label: '附件', width: 210, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        },
                        formatter: fn_PreviewFile, unformat: fn_UnPreviewFile
                    },
                    {
                        name: 'Url', hidden: true
                    },
                    {
                        name: 'AttachName', hidden: true
                    }
                ],
                width: $('#GridFeedBack').width(),
                //height: 'auto',
                minHeight: 0,
                maxHeight: 10,
                loadonce: true,
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 10000,
                //rowList: [5, 10],
                loadui: true,
                pginput: false,       // 페이지 입력창을 표시하는 것에 대한 속성
                pgbuttons: false,     // 페이지 이동 버튼을 표시하는 것에 대한 속성
                pgtext: null,
                footerrow: false,
                cellsubmit: 'clientArray',
                //pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                afterInsertRow: function (rowid, r) {
                },
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='gridfeedback_rn']").addClass("readonlycell");
                }
            });
        }
        function fn_SetGrid1(mydata) {
            mydata = mydata || [];
            $("#gridfeedback").clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }

        ///预览按钮
      function fn_PreviewFile(cellvalue, options, rowObject) {
            var previewPath = rowObject.Url;
            @*if (rowObject.ShowUrl == undefined&&rowObject.Url!=null)
            previewPath = '@Url.Action("DownLoadAttachment")?path=uploads'+ "/" + encodeURIComponent(rowObject.Url.substring(rowObject.Url.lastIndexOf('/') + 1)) + '';*@
        if (rowObject.AttachName.substr(rowObject.AttachName.lastIndexOf(".")) == ".gif" || rowObject.AttachName.substr(rowObject.AttachName.lastIndexOf(".")) == ".jpg" || rowObject.AttachName.substr(rowObject.AttachName.lastIndexOf(".")) == ".png")
            return "<a href='" + previewPath + "' data-lightbox='PreviewPicture' style='margin-left: 10px; cursor: pointer; color: #0088cc; text-decoration: underline;'>" + rowObject.AttachName + "</a>";
        else
        {
            var url = '@Url.Action("DownLoadForRename", "Notice")' + "?fileName=" + encodeURIComponent(rowObject.AttachName) + "&sourcepath=" + previewPath;
            return " <a href='" + url + "'  class='btn' download='" + rowObject.AttachName + "'>" + rowObject.AttachName + "</a>";

        }
     }

        function fn_UnPreviewFile(cellvalue, options, rowObject) {
            return rowObject.AttachName;
        }
    </script>
}

<div class="row">
    <div class="col-xs-12">
        <div class="input-group">
            <span class="input-group-addon title-sm">通知标题:</span>
            <input size="16" type="text" value="" class="form-control" id="txtTitle" disabled />
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon title-sm">通知内容</span>
            <textarea class="form-control" id="txtContent" disabled></textarea>
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="col-md-12">
        <div class="col-md-6  col-sm-6  gap-top">
            <div><span class="fa fa-angle-double-right">通知附件</span></div>
            <div id="Grid" class="col-md-12">
                <table id="gridattch" class="ui-jqgrid-htable"></table>
                <div id="pager" class="page">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:5px;">
    <div class="col-md-12">
        <div class="col-md-6  col-sm-6  gap-top">
            <div style="padding-left:5px;"><span class="fa fa-angle-double-right">反馈附件</span></div>
        </div>
    </div>
</div>
<div class="row gap-top" style="margin-top:5px;">
    <div class="col-sm-12" >
        <div id="ossfile"></div>
        <div id="container" style="padding-left:10px;">
            <a id="selectfiles" href="javascript:void(0);" class='btn btn-primary'><span class="fa fa-cloud-upload gap-icon"></span>上传文件</a>
            <a id="postfiles" href="javascript:void(0);" class='btn' style="display:none">开始上传</a>
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="col-md-12">
        <div class="col-md-6  col-sm-6  gap-top">
            <div id="GridFeedBack" class="col-md-12">
                <table id="gridfeedback" class="ui-jqgrid-htable"></table>
                <div id="pager" class="page">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="col-md-12">
        <div class="col-md-6  col-sm-6  gap-top">
            <div style="padding-left:5px;"><span class="fa fa-angle-double-right">反馈内容</span></div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;" id="divtxtFeedBackContent">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon title-sm">反馈内容</span>
            <textarea class="form-control" id="txtFeedBackContent"></textarea>
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="col-md-12">
        <div class="col-md-6  col-sm-6  gap-top">
            <div style="padding-left:5px;"><span class="fa fa-angle-double-right">审核理由</span></div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;" id="divReplayContent">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon title-sm">审核理由</span>
            <textarea class="form-control" id="txtReplayContent" disabled></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 gap-top text-center">
        <button type="button" class="btn btn-primary" id="btn_save_id">
            <span class="fa fa-save gap-icon"></span><span>提交</span>
        </button>
        <button type="button" class="btn btn-primary" onclick="fn_Clear()" id="btn_clear_id">
            <span class="fa fa-reply gap-icon"></span><span>取消</span>
        </button>
    </div>
</div>

