@{
    ViewData["Title"] = "审核列表";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<style>
    #txtSDate.datewidth, #txtEDate.datewidth {
        width: 48.5%;
    }

    .datemargin {
        margin-left: 3%;
        margin-top: -1.4em;
    }
</style>

@section scripts{
    <!-- 1. Load -->
    <script type="text/javascript">
        var _grid, _gridName;
        var _grid2, _gridName2;
        var _rowNo;

        $(document).ready(function () {
            fn_Initialize();
            fn_InitGrid();
            fn_InitGrid2();

            $("#btnSearch").on("click", function () {
                if ($("#txtSDate").val() > $("#txtEDate").val()) {
                    $.sa.warning("结束日期不能小于开始日期！");
                    return;
                }
                fn_Search();
            });


        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">

        function fn_Initialize() {

            _gridName = 'gridNotice';
            _grid = $('#' + _gridName);

            _gridName2 = 'gridReader';
            _grid2 = $('#' + _gridName2);

            $(".form_datetime").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2, //显示到具体日期，如果设置到1，则显示到具体时间点。
                autoclose: 1,
                todayHighlight: 1,
                todayBtn: 1,
                startView: 2, //开始页面设置为具体到日期的那个页面。
                pickerPosition: 'bottom-left'
            });
            DateFormatCheckEvent("txtSDate", { CheckType: "BLANK" });
            DateFormatCheckEvent("txtEDate", { CheckType: "BLANK" });
        }

    </script>
    <!-- 3. Validate -->
    <script type="text/javascript">

    </script>

    <!-- 4. Custom Function -->
    <script type="text/javascript">
        function fn_Search() {
            //$.sa.get("http://10.202.101.28:6500/toyota/api/v1/NotifiApproval/GetApprovalNoticeList",
            $.sa.get(GETAPPROVALNOTICELIST,
                     {
                         userId: "@Context.Request.Cookies[SessionKeys.SESSION_USERID]"
                         , status: $("#selStatus").val()
                         , sDate: $("#txtSDate").val().replace(/\-/g, '')
                         , eDate: $("#txtEDate").val().replace(/\-/g, '')
                         , noticeNo: $("#txtNoticeNo").val()
                     },
                     {
                         "success": function (data) {
                             fn_SetGrid(JSON.parse(data.body));
                             fn_SetGrid2([]);
                             if (JSON.parse(data.body).length == 0) {
                                 $.sa.alert(data.msg);
                             }
                         },
                         "failure": function (data) {
                             $.sa.warning(data.msg);
                         }
                     }, $("body"));
        }
        function fn_SearchDetail(noticeId) {
            //$.sa.get("http://10.202.101.144:6505/toyota/api/v1/NotifiApproval/GetApprovalReaderList",
            $.sa.get(GETAPPROVALREADERLIST,
                     {
                         noticeId: noticeId
                        , userId: "@Context.Request.Cookies[SessionKeys.SESSION_USERID]"
                     },
                     {
                         "success": function (data) {
                             fn_SetGrid2(JSON.parse(data.body));
                             if (JSON.parse(data.body).length == 0) {
                                 $.sa.alert(data.msg);
                             }
                         },
                         "failure": function (data) {
                             $.sa.warning(data.msg);
                         }
                     }, $("body"));
        }

        function fn_SearchNoticeDtl(cellvalue, options, rowObject) {
            return '<button type="button" class="btn btn-primary start"  onclick="fn_NoticeDtlPop(' + options.rowId + ')">通知详细</button>';
        }
        function fn_UnSearchNoticeDtl() {

            return "";
        }

        function fn_NoticeDtlPop(rowId) {
            var rowObject = $("#gridNotice").jqGrid('getRowData', rowId);
            $.sa.pop('/Notice/NOT010P', {
                width: '900px', height: '520px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>通知详细</span>',
                params: {
                    pamId: rowObject.NoticeId,
                    pamStatus: ""
                }
              , popcallback: function (msg) {
                  if (msg != null && msg.length > 0) {

                  }
              }
            });
        }

        function fn_Approal(cellvalue, options, rowObject) {
            if (rowObject.NoticeReaderId == "0") {
                return '<button type="button" class="btn btn-primary"  disabled onclick="fn_ApproalPop(' + options.rowId + ')">通知审核</button>';
            } else {
                return '<button type="button" class="btn btn-primary"  onclick="fn_ApproalPop(' + options.rowId + ')">通知审核</button>';
            }
        }
        function fn_UnApproal(cellvalue, options, rowObject) {
            return "";
        }
        function fn_ApproalPop(rowId) {
            var rowObject = $("#gridReader").jqGrid('getRowData', rowId);
            $.sa.pop('/Notice/NOT020P', {
                width: '850px', height: '520px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>通知审核</span>',
                params: {
                    NoticeReaderId: rowObject.NoticeReaderId,
                    Status: rowObject.StatusCode
                }
              , popcallback: function (msg) {
                  if (msg != null && msg.length > 0) {
                      $("#gridNotice").find("tr[id='" + _rowNo + "']").dblclick();
                  }
              }
            });
        }

        function fn_ApproalLog(cellvalue, options, rowObject) {
            return '<button type="button" class="btn btn-primary"  onclick="fn_ApproalLogPop(' + options.rowId + ')">审核记录</button>';

        }
        function fn_UnApproalLog() {
            return "";
        }
        function fn_ApproalLogPop(rowId) {

            var rowObject = $("#gridReader").jqGrid('getRowData', rowId);
            if (rowObject.NoticeReaderId == "0") {

                $.sa.warning("没有审核记录");
                return;
            } else {

                $.sa.get(GETNOTICEAPPROVALLOG,
              {
                  noticeReaderId: rowObject.NoticeReaderId
              },
              {
                  "success": function (data) {
                      var log = JSON.parse(data.body);
                      var arr = [];
                      if (log != undefined && log.length > 0) {
                          for (var i = 0; i < log.length; i++) {
                              if (log[i].PassYN!=undefined) {
                                  arr.push(log[i]);
                              }
                          }
                      }
                      if (arr.length == 0) {
                          $.sa.warning("没有审核记录");
                          return;
                      }
                      else {
                          $.sa.pop('/Notice/NOT021P', {
                              width: '850px', height: '520px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>审核记录</span>',
                              params: {
                                  NoticeReaderId: rowObject.NoticeReaderId
                              }
                            , popcallback: function (msg) {
                                if (msg != null && msg.length > 0) {

                                }
                            }
                          });

                      }

                  },
                  "failure": function (data) {
                      $.sa.alert("查询失败");
                  }
              });
            }

        }

    </script>

    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_InitGrid() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                        {
                            name: 'NoticeNo', label: "通知编号", width: 60, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'Title', label: "标题", width: 150, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }
                        , {
                            name: 'UserName', label: '发送者', width: 60, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }, {
                            name: 'InDateTime', label: '发送时间', width: 60, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }
                        , {
                            name: 'NoticeId', label: 'NoticeId', width: 60, align: 'center', hidden: true,
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }, {
                            name: '', label: '通知详细', width: 35, align: 'center',
                            formatter: fn_SearchNoticeDtl, unformat: fn_UnSearchNoticeDtl
                        }

                ],
                width: $('#Grid').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 10,
                rowList: [10, 20, 30],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager1'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager1_left').css('width', '25%');
                    $('#pager1_right').css('width', '25%');

                    $("[aria-describedby='gridNotice_rn']").addClass("readonlycell");
                },
                afterInsertRow: function (rowid, r) {

                },
                ondblClickRow: function (rowid, iRow, iCol, e) {
                    var rowdata = $("#gridNotice").jqGrid('getRowData', rowid);
                    _rowNo = rowid
                    fn_SearchDetail(rowdata.NoticeId);
                }
            });
        }
        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }
        function fn_InitGrid2() {
            _grid2.jqGrid({
                datatype: 'local',
                colModel: [
                        {
                            name: 'ReaderName', label: "反馈对象", width: 80, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'FeedbackDateTime', label: "反馈时间", width: 45, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }
                        , {
                            name: 'ReplyDateTime', label: '审核时间', width: 45, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }, {
                            name: 'StatusName', label: '状态', width: 45, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }
                        , {
                            name: '', label: '通知审核', width: 30, align: 'center',
                            formatter: fn_Approal, unformat: fn_UnApproal
                        }, {
                            name: '', label: '审核记录', width: 30, align: 'center',
                            formatter: fn_ApproalLog, unformat: fn_UnApproalLog
                        }

                        , {
                            name: 'StatusCode', label: 'StatusCode', width: 60, align: 'center', hidden: true,
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }, {
                            name: 'NoticeReaderId', label: 'NoticeReaderId', width: 60, align: 'center', hidden: true,
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }


                ],
                width: $('#Grid2').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 10,
                rowList: [10, 20, 30],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager2'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager2_left').css('width', '25%');
                    $('#pager2_right').css('width', '25%');

                    $("[aria-describedby='gridReader_rn']").addClass("readonlycell");
                },
                afterInsertRow: function (rowid, r) {

                }
            });
        }

        function fn_SetGrid2(mydata) {
            mydata = mydata || [];
            _grid2.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }
    </script>
}

<div class="row gap-top">
    <div class="col-md-12">
        <span class="fa fa-flag fa-lg gap-icon"></span><span class="page-mtitle">通知公告</span><span>&nbsp;>&nbsp;</span><span class="page-title">审核列表</span>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" id="btnSearch">
                <span class="fa fa-search gap-icon"></span>查询
            </button>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm ">查询期间</span>
            <input size="16" type="text" value="@ViewBag.FirstDayOfMonth" class="form_datetime form-control text-center datewidth"
                   id="txtSDate" />
            <span>~</span>
            <input size="16" type="text" value="@ViewBag.CurrentDate" class="form_datetime form-control text-center datewidth datemargin"
                   id="txtEDate" />
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm ">状态</span>
            <select class="form-control" id="selStatus">
                <option value="">全部</option>
                <option value="1">待审核</option>
                <option value="0">审核完成</option>
            </select>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm ">通知编号</span>
            <input class="form-control" type="text" id="txtNoticeNo" />
        </div>
    </div>
</div>
<div class="row gap-top">
    <div id="Grid" class="col-md-12">
        <table id="gridNotice" class="ui-jqgrid-htable"></table>
        <div id="pager1" class="page">
        </div>
    </div>
</div>
<div class="row">
    <div id="Grid2" class="col-md-12">
        <table id="gridReader" class="ui-jqgrid-htable"></table>
        <div id="pager2" class="page">
        </div>
    </div>
</div>
