@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "审核记录Pop";
}
@section scripts{
    <!-- 1. Load -->
    <script type="text/javascript">
        var _grid, _gridName;
        var _noticeReaderId;
        var _status;

        $(document).ready(function () {
            fn_Initialize();
            fn_InitGrid();
            fn_GetApproalLog();

        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">

        function fn_Initialize() {

            _gridName = 'gridApproalLog';
            _grid = $('#' + _gridName);
            _noticeReaderId = Request["NoticeReaderId"];
        }

    </script>
    <!-- 3. Validate -->
    <script type="text/javascript">

    </script>

    <!-- 4. Custom Function -->
    <script type="text/javascript">
        function fn_GetApproalLog() {

            //$.sa.get("http://10.202.101.144:6505/toyota/api/v1/NotifiApproval/GetNoticeApprovalLog",
            $.sa.get(GETNOTICEAPPROVALLOG,
                 {
                     noticeReaderId: _noticeReaderId
                 },
                 {
                     "success": function (data) {
                         var log = JSON.parse(data.body);
                         var arr = [];
                         if (log != undefined && log.length > 0) {
                             for (var i = 0; i < log.length; i++) {
                                 if (log[i].PassYN!=undefined) {
                                     arr.push(log[i]);
                                 }
                             }
                         }
                         fn_SetGrid(log);

                     },
                     "failure": function (data) {
                         $.sa.alert("查询失败");
                     }
                 }, $("body"));
        }

    </script>

    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_InitGrid() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                        {
                            name: 'PassYNContent', label: "通过与否", width: 30, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'FeedbackContent', label: "反馈内容", width: 100, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'FeedbackDateTime', label: "反馈时间", width: 62, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'ReplyContent', label: "审核意见", width: 100, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'ReplyDateTime', label: "审核时间", width: 62, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }

                ],
                width: $('#Grid').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 30,
                rowNum: 15,
                rowList: [15, 30, 45],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager1'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager1_left').css('width', '25%');
                    $('#pager1_right').css('width', '25%');

                    $("[aria-describedby='gridApproalLog_rn']").addClass("readonlycell");
                },
                afterInsertRow: function (rowid, r) {

                },
                ondblClickRow: function (rowid, iRow, iCol, e) {
                    var rowdata = $("#gridNotice").jqGrid('getRowData', rowid);
                    fn_SearchDetail(rowdata.NoticeId);
                }
            });
        }

        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }
    </script>
}
<div class="row gap-top">
    <div id="Grid" class="col-md-12">
        <table id="gridApproalLog" class="ui-jqgrid-htable"></table>
        <div id="pager1" class="page">
        </div>
    </div>
</div>