@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "得分查看POP";
}
<style>
    body {
        padding-top: 0px;
    }

    #inputNo {
        display: inline !important;
        width: 87px;
    }

    .trash-space {
        padding-right: 5px;
        line-height: 36px;
    }

    .picName {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 160px;
        line-height: 20px;
    }
</style>
@section scripts{
    <!-- 1. Load -->
    <script type="text/javascript">
        var _grid, _gridName;
        var _grid2, _gridName2;
        var _grid3, _gridName3;
        var _seqNo;// 记录第几道题
        var _tIId;//哪个体系
        var _tPId;
        var _data;//查询的所有数据

        $(document).ready(function () {
            fn_Initialize();
            fn_InitGrid();
            fn_InitData();
            //上一题
            $("#btnPre").on("click", function () {
                _seqNo--;
                $("#inputNo").val("");
                fn_BindData(_data, _tPId, _seqNo);
                if (_seqNo == 1) {
                    $(this).attr("disabled", true);
                }
                if (_seqNo < _data.length) {
                    $("#btnNext").attr("disabled", false);
                }

            });
            //下一题
            $("#btnNext").on("click", function () {
                _seqNo++;
                $("#inputNo").val("");
                fn_BindData(_data, _tPId, _seqNo);
                if (_seqNo == _data.length) {
                    $(this).attr("disabled", true);
                }
                if (_seqNo > 1) {
                    $("#btnPre").attr("disabled", false);
                }

            });
            //跳到第几题
            $("#btnGoto").on("click", function () {
                _seqNo = parseInt($("#inputNo").val());
                fn_BindData(_data, _tPId, _seqNo);
                if (_seqNo == _data.length) {
                    $("#btnNext").attr("disabled", true);
                } else {
                    $("#btnNext").attr("disabled", false);
                }
                if (_seqNo > 1) {
                    $("#btnPre").attr("disabled", false);
                } else {
                    $("#btnPre").attr("disabled", true);
                }
            });

        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function fn_Initialize() {
            _gridName = 'gridStandardPic';
            _grid = $('#' + _gridName);

            _gridName2 = 'gridCheckStandard';
            _grid2 = $('#' + _gridName2);

            _gridName3 = 'gridPicUpload';
            _grid3 = $('#' + _gridName3);

        }
        function fn_InitGrid() {
            fn_GridInit();
            fn_GridInit2();
            fn_GridInit3();
        }
        function fn_InitData() {
            _tPId = Request["TPId"];
            _tIId = Request["TIId"];
            _seqNo = Request["SeqNo"];
            fn_SearchScoreInfo(_tPId, _tIId, _seqNo);

        }
        function fn_InitControls() {
            if (_seqNo <= 1) {
                $("#btnPre").attr("disabled", true);
            }
            if (_seqNo == _data.length) {
                $("#btnNext").attr("disabled", true);
            }
        }

    </script>
    <!-- 3. Validate -->
    <script type="text/javascript">

    </script>

    <!-- 4. Custom Function -->
    <script type="text/javascript">
        function fn_SearchScoreInfo(_tPId, _tIId, _seqNo) {
            //$.sa.get("http://infiqaapi.elandcloud.com/infi/api/v1/Tour/GetItemListByTaskId",
            $.sa.get(GETITEMLISTBYTASKID,
                 {
                     taskId: _tPId
                   , operation: 'A'
                 },
                 {
                     "success": function (data) {
                         _data = JSON.parse(data.body);
                         console.log(_data);
                         fn_BindData(_data, _tPId, _seqNo);
                         fn_InitControls();
                     },
                     "failure": function (data) {
                         $.sa.alert("查询失败");
                     }
                 }, $("body"));
        }
        function fn_BindData(data, _tPId, _seqNo) {
            for (var i = 0; i < data.length; i++) {
                if (data[i].TPId == _tPId && data[i].SeqNo == _seqNo) {
                    _tIId = data[i].TIId;// 保存当前的TIId
                    $("#inputSeqNo").val(data[i].SeqNo);
                    $("#inputItemNO").val(data[i].SeqNo);
                    $("#inputTitle").val(data[i].Title);
                    $("#inputMode").val(data[i].ExeMode);
                    $("#inputScoreStandard").val(data[i].ScoreStandard);
                    $("#inputScore").val(data[i].Score);
                    $("#txtRemarks").val(data[i].Remarks);
                    $("#chkPlanApproalYN").prop("checked", data[i].PlanApproalYN);
                    $("#chkResultApproalYN").prop("checked", data[i].ResultApproalYN);
                    $("#txtPlanDate").val(data[i].PlanFinishDate && data[i].PlanFinishDate.length > 10 ? data[i].PlanFinishDate.substring(0, 10) : data[i].PlanFinishDate);
                    $("#txtResultDate").val(data[i].ResultFinishDate && data[i].ResultFinishDate.length > 10 ? data[i].ResultFinishDate.substring(0, 10) : data[i].ResultFinishDate);
                    fn_SetGrid(_data[i].PStandardList);
                    fn_SetGrid2(_data[i].CSList);//检查标准
                    fn_SetGrid3(_data[i].SPicList);
                    break;
                }
            }

        }
        function fn_ShowPic(cellvalue, options, rowObject) {
            return "<a id='PV01' class='picName' href='" + rowObject.Url + "' data-lightbox='PreviewPicture' style='cursor: pointer;'> " + rowObject.PicName + "</a>";
        }
        function fn_UnShowPic(cellvalue, options, rowObject) {
            return rowObject.PicName;
        }
        function fn_ShowPic2(cellvalue, options, rowObject) {
            if (rowObject.Url) {
                //return rowObject.StandardPicName + "<a id='PV01' href='" + rowObject.Url + "' data-lightbox='PreviewPicture' style='cursor: pointer;'><i class='fa fa-eye fa-lg pull-right trash-space'></i></a>";
                return "<a id='PV01' href='" + rowObject.Url + "' data-lightbox='PreviewPicture' style='cursor: pointer;'><i class='fa fa-eye fa-lg pull-right trash-space'></i></a>";
            } else {
                return "";
            }
        }
        function fn_UnShowPic2(cellvalue, options, rowObject) {
            return rowObject.StandardPicName;
        }

    </script>

    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_GridInit() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                        {
                            name: 'StandardPicName', label: "照片名称", width: 70, align: 'left'
                            , cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'Pre', label: "预览", width: 15, align: 'center',
                            formatter: fn_ShowPic2, unformat: function () { return "" }
                            , cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'Url', label: "预览", width: 40, align: 'left', hidden: true
                        }, {
                            name: 'StandardPicId', label: "StandardPicId", width: 50, align: 'center', hidden: true
                        }, {
                            name: 'TPId', label: "TPId", width: 50, align: 'center', hidden: true

                        }, {
                            name: 'TIId', label: "TIId", width: 50, align: 'center', hidden: true
                        }

                ],
                width: $('#Grid1').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 30,
                rowNum: 50,
                rowList: [50, 60, 70],
                footerrow: false,
                cellsubmit: 'clientArray',
                //pager: jQuery('#pager1'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager1_left').css('width', '25%');
                    $('#pager1_right').css('width', '25%');
                    $("[aria-describedby='gridStandardPic_rn']").addClass("readonlycell");
                },
                afterInsertRow: function (id) {
                }
            });
        }
        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }

        function fn_GridInit2() {
            _grid2.jqGrid({
                datatype: 'local',
                colModel: [
                        {
                            name: 'CContent', label: "检查标准", width: 70, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'IsCheck', label: '结果', width: 40, align: 'center', editable: false, edittype: "text"
                            , formatter: 'select', edittype: 'select',
                            formatoptions: {
                                value: { "true": "是", "false": "否" }
                            }, editoptions: {
                                'class': 'form-control',
                                value: { "true": "是", "false": "否" }
                            }, cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            },hidden:true

                        },
                        {
                            name: 'CSID', label: "CSID", width: 60, align: 'left', hidden: true,
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }

                ],
                width: $('#Grid2').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 30,
                rowNum: 50,
                rowList: [50, 60, 70],
                footerrow: false,
                cellsubmit: 'clientArray',
                //pager: jQuery('#pager2'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager2_left').css('width', '25%');
                    $('#pager2_right').css('width', '25%');

                    $("[aria-describedby='gridCheckStandard_rn']").addClass("readonlycell");
                }, afterSaveCell: function (rowid, name, val, iRow, iCol) {

                }, onCellSelect: function (rowid, iCol, cellcontent, e) {

                }, afterInsertRow: function (rowid, r) {

                }
            });
        }
        function fn_SetGrid2(mydata) {
            mydata = mydata || [];
            _grid2.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }

        function fn_GridInit3() {
            _grid3.jqGrid({
                datatype: 'local',
                colModel: [
                        {
                            name: 'PicType', label: '类型', width: 40, align: 'center', editable: true, edittype: "text", hidden: true
                            , formatter: 'select', edittype: 'select',
                            formatoptions: {
                                value: { "L": "失分", "G": "标准" }
                            }, editoptions: {
                                'class': 'form-control',
                                value: { "L": "失分", "G": "标准" }
                            }

                        },
                        {
                            name: 'PicName', label: '照片名', width: 50, align: 'left', editable: false,
                            formatter: fn_ShowPic, unformat: fn_UnShowPic
                            , cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'Url', label: 'Url', width: 50, align: 'left', editable: false, hidden: true
                        }

                ],
                width: $('#Grid3').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 30,
                rowNum: 50,
                rowList: [50, 60, 70],
                footerrow: false,
                cellsubmit: 'clientArray',
                //pager: jQuery('#pager3'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager3_left').css('width', '25%');
                    $('#pager3_right').css('width', '25%');

                    $("[aria-describedby='gridPicUpload_rn']").addClass("readonlycell");
                }, onCellSelect: function (rowid, iCol, cellcontent, e) {

                }
            });
        }

        function fn_SetGrid3(mydata) {
            mydata = mydata || [];
            _grid3.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }

        function fn_SaveCell() {
            var $t = $(this);
            var $ecs = $(".edit-cell", $t);
            $ecs.each(function (idx, ec) {
                var iRow = $(ec).parent().index();
                var iCol = $(ec).index();
                $t.saveCell(iRow, iCol);
            });
        }
    </script>
}
<div class="row  gap-top">
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" id="btnPre">
                <span class="fa fa-arrow-circle-o-left gap-icon"></span>上一题
            </button>
            <button type="button" class="btn btn-primary" id="btnNext">
                <span class="fa fa-arrow-circle-o-right gap-icon"></span>下一题
            </button>
            <button type="button" class="btn btn-primary" id="btnGoto">
                <span class="fa fa-chevron-circle-right gap-icon"></span>跳转到
            </button>
            <input type="text" class="form-control" id="inputNo">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4  col-sm-6  gap-top">
        <div class="input-group">
            <label class="input-group-addon title-xs">体系号</label>
            <input type="text" class="form-control" id="inputItemNO" disabled>
        </div>
    </div>
    <div class="col-md-4  col-sm-6  gap-top">
        <div class="input-group">
            <label class="input-group-addon title-xs">执行顺序</label>
            <input type="text" class="form-control" id="inputSeqNo" disabled>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12  col-sm-12  gap-top">
        <div class="input-group">
            <label class="input-group-addon title-xs">指标名称</label>
            <input type="text" class="form-control" style="max-width:100%;" id="inputTitle" disabled>
        </div>
    </div>

</div>
<div class="row" style="display:none;">
    <div class="col-md-4  col-sm-6  gap-top">
        <div class="input-group">
            <label class="input-group-addon title-xs">执行方式</label>
            <input type="text" class="form-control" id="inputMode" disabled>
        </div>
    </div>
</div>
<div class="row" style="display:none;">
    <div class="col-md-4  col-sm-6" style="padding-top:10px;">
        <div class="input-group">
            <label class="input-group-addon title-xs">计划审批</label>
            <div class="form-control">
                <label class="checkbox-inline">
                    <input type="checkbox" id="chkPlanApproalYN" disabled />&nbsp;
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4  col-sm-6" style="padding-top:10px;">
        <div class="input-group">
            <label class="input-group-addon title-xs">完成日期</label>
            <div class="input-group">
                <input type="text" class="form-control" id="txtPlanDate" disabled />
            </div>
        </div>
    </div>
</div>

<div class="row" style="display:none;">
    <div class="col-md-4  col-sm-6" style="padding-top:10px;">
        <div class="input-group">
            <label class="input-group-addon title-xs">结果审批</label>
            <div class="form-control">
                <label class="checkbox-inline">
                    <input type="checkbox" id="chkResultApproalYN" disabled />&nbsp;
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4  col-sm-6" style="padding-top:10px;">
        <div class="input-group">
            <label class="input-group-addon title-xs">完成日期</label>
            <div class="input-group">
                <input type="text" class="form-control" id="txtResultDate" disabled />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4  col-sm-6  gap-top">
        <div class="input-group">
            <label class="input-group-addon title-xs">体系编号</label>
            <input type="text" class="form-control" id="inputScoreStandard" disabled>
        </div>
    </div>
    <div class="col-md-4  col-sm-6" style="padding-top:10px;">
        <div class="input-group">
            <label class="input-group-addon title-xs">得分</label>
            <input type="text" class="form-control" id="inputScore" disabled>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12  col-sm-12" style="padding-top:10px;">
        <div class="input-group">
            <label class="input-group-addon title-xs">备注</label>
            <textarea id="txtRemarks" class="form-control" disabled></textarea>
        </div>
    </div>
</div>
<div class="row" style="padding-top:5px;">
    <div class="col-md-3  col-sm-4  gap-top" style="display:none;">
        <div style="padding-left:5px;padding-top:13px;"><span class="fa fa-angle-double-right">标准照片</span></div>
        <div id="Grid1" class="col-md-6">
            <table id="gridStandardPic" class="ui-jqgrid-htable"></table>
            <div id="pager1" class="page">
            </div>
        </div>
    </div>
    <div class="col-md-3  col-sm-4  gap-top" style="display:none;">
        <div style="padding-left:5px; padding-top:13px;"><span class="fa fa-angle-double-right">失分照片</span></div>
        <div id="Grid3" class="col-md-6">
            <table id="gridPicUpload" class="ui-jqgrid-htable"></table>
            <div id="pager3" class="page">
            </div>
        </div>
    </div>
    <div class="col-md-12  col-sm-12  gap-top">
        <div style="padding-left:5px; padding-top:13px;"><span class="fa fa-angle-double-right">检查标准</span></div>
        <div id="Grid2" class="col-md-6">
            <table id="gridCheckStandard" class="ui-jqgrid-htable"></table>
            <div id="pager2" class="page">
            </div>
        </div>
    </div>

</div>



