@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "申诉";
}
@section HeadCss{
    <style type="text/css">
        #radAppealResult label {
                display: inline-block;
                cursor: pointer;
                position: relative;
                padding-left: 25px;
                margin-right: 15px;
                font-size: 15px;
                font-family:Microsoft YaHei;
                font-weight:normal;
            }

          #radAppealResult  label:before {
                content: "";
                display: inline-block;
                width: 22px;
                height: 22px;
                margin-right: 10px;
                position: absolute;
                left: 0;
                bottom: 1px;
                background-color: #E5E5E5;
                box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
                border-radius: 25px;
            }

           #radAppealResult  input[type=radio],
            input[type=checkbox] {
                display: none;
            }

           #radAppealResult  input[type=radio]:checked + label:before {
                content: "\2022";
                color: #ce1515;
                font-size: 50px;
                text-align: center;
                line-height: 15px;
            }
        </style>
}
@section scripts{
    <!-- 1. Load -->
    <script type="text/javascript">
        var _grid, _gridName, _grid2, _gridName2;
        var _tPId, _tIId, _aPId, _result;
        _tPId = Request["TPId"];
        _tIId = Request["TIId"];
        _aPId = Request["APId"];
        _result = Request["Result"];
        _remarks= Request["Remarks"]; 
        var _userType = "@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]";
        $(document).ready(function () {
            fn_Initialize();
            fn_GridInit();
            fn_GridInit2();
            fn_SetControls();
            fn_Upload('2');
            $("#btnSave").on("click", function () {
                fn_Save();
            });
            $("#btnApproal").on("click", function () {
                fn_Approal();
            });
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function fn_Initialize() {
            _gridName = 'grid';
            _grid = $('#' + _gridName);

            _gridName2 = 'grid2';
            _grid2 = $('#' + _gridName2);
        }
    </script>
    <!-- 3. Validate -->
    <script type="text/javascript">
        function ValidationBeforeSave() {
            if ($("#txtAppealContent").val().trim() == "") {
                $.sa.warning("请填写申诉内容");
                return false;
            }
            return true;
        }
    </script>
    <!-- 4. Custom Function -->
    <script type="text/javascript">

        function fn_SetControls() {
            if (_aPId == 0) {
                $("#txtAppealContent").attr("disabled", false);
                $("#btnSave").removeClass("hidden");
                $("#container").removeClass("hidden");
                //$("#txtAppealContent").attr("disabled", true);
                //$("#btnSave").addClass("hidden");
                //$("#container").addClass("hidden");
                //Modify by dong.limin 2017-11-20 9:06:09  
                //英菲尼迪报告平台的申诉期结束，请协助周一早上尽早关闭经销商在申诉模块填写的权限，经销商仅可以查阅申诉批复结果，需要保留admin账户的审批权限可以继续使用。

                $("#divApprovalRemark").addClass("hidden");
                $("#divAppealResult").addClass("hidden");
                $('#btnApproal').addClass("hidden");
                $("#container2").addClass("hidden");
                $("#divGrid2").addClass("hidden");
                $("#txtSRemarks").val(_remarks);
            } else {
                $("#txtAppealContent").attr("disabled", true);
                $("#btnSave").addClass("hidden");
                $("#container").addClass("hidden");
                $("#divApprovalRemark").removeClass("hidden");
                $("#divGrid2").removeClass("hidden");
                fn_Search();
                if (_result == "0") {
                    $("#txtApprovalRemark").attr("disabled", false);
                    //$("#chkAppealResult").attr("disabled", false);
                    $("#radAppealResult input[type=radio]").attr("disabled", false);
                    $('#btnApproal').removeClass("hidden");
                    $("#divAppealResult").removeClass("hidden");
                    $("#container2").removeClass("hidden");
                } else {
                    //$("#chkAppealResult").attr("disabled", true);
                    if (_userType == "A") {
                        $("#radAppealResult input[type=radio]").attr("disabled", false);
                        $('#btnApproal').removeClass("hidden");
                        $("#txtApprovalRemark").attr("disabled", false);
                    }
                    else
                    {
                        $("#radAppealResult input[type=radio]").attr("disabled", true);
                        $('#btnApproal').addClass("hidden");
                        $("#txtApprovalRemark").attr("disabled", true);
                     }
                    $("#divAppealResult").removeClass("hidden");
                    $("#container2").addClass("hidden");
                }
            }
        }

        function fn_Search() {
            //$.sa.get("http://localhost:6505/mbms/api/v1/AppealMng/AppealInfoSearch",
            $.sa.get(APPEALINFOSEARCH,
                         {
                             aPId: _aPId
                         },
                         {
                             "success": function (data) {
                                 if (JSON.parse(data.body)) {

                                     var data = JSON.parse(data.body);
                                     $("#txtSRemarks").val(data.SRemarks);
                                     $("#txtAppealContent").val(data.AppealContent);
                                     //var passYN = "";
                                     if (data.AppealResult == "P") {
                                         //passYN = true;
                                         $("#radAppealResult input[type=radio]").first().attr("checked", true);
                                     } else if (data.AppealResult == "F") {
                                         //passYN = false;
                                         $("#radAppealResult input[type=radio]").last().attr("checked", true);
                                     }
                                     //$("#chkAppealResult").prop("checked", passYN);
                                     $("#txtApprovalRemark").val(data.ApprovalRemark);
                                     fn_SetGrid(data.AttachmentList);
                                     fn_SetGrid2(data.ApproalAttachList);
                                 }
                             },
                             "failure": function (data) {
                                 $.sa.warning(data.msg);
                             }
                         }, $("body"));

        }

        function fn_Save() {
            if (!ValidationBeforeSave()) {
                return;
            }
            $.sa.confirm('确定保存吗？', {
                fnOk: function () {
                    $(".close").click();
                    fn_SaveCell.call(_grid);
                    var data = _grid.jqGrid("getRowData");
                    var attachList = [];
                    for (var i = 0; i < data.length; i++) {
                        var attachItem = { AttachName: data[i].AttachName, Url: data[i].Url };
                        attachList.push(attachItem);
                    }
                    //$.sa.post(CUSTOMIZEDTASKCHECK,
                    var saveData = { TPId: _tPId, TIId: _tIId, AppealContent: $("#txtAppealContent").val(), ApprealUserId: "@Context.Request.Cookies[SessionKeys.SESSION_USERID]", AttachmentList: attachList };
                    $.sa.post(APPEALINFOREG,
                    //$.sa.post("http://localhost:6505/mbms/api/v1/AppealMng/AppealInfoReg",
                         JSON.stringify(saveData),
                         {
                             "success": function (data) {
                                 $.sa.alert('保存成功！');
                                 window.parent.popcallback("success");
                             },
                             "failure": function (data) {
                                 $.sa.alert("保存失败");
                             }
                         }, $("body"));
                }
            });
        }

        //审核
        function fn_Approal() {
            //if (!$("#chkAppealResult").is(':checked') && $("#txtApprovalRemark").val() == "") {
            //    $.sa.warning("请填写审核结果！");
            //    return;
            //}
            if ($("#radAppealResult input[type=radio]").filter(":checked").val()==undefined) {
                $.sa.warning("请选择是否通过！");
                return;
            }else  if ($("#radAppealResult input[type=radio]").filter(":checked").val() == "0" && $("#txtApprovalRemark").val() == "") {
                $.sa.warning("请填写审核结果！");
                    return;
            }
            $.sa.confirm('确定保存吗？', {
                fnOk: function () {
                    $(".close").click();

                    fn_SaveCell.call(_grid2);
                    var data = _grid2.jqGrid("getRowData");
                    var attachList = [];
                    for (var i = 0; i < data.length; i++) {
                        var attachItem = { AttachName: data[i].AttachName, Url: data[i].Url };
                        attachList.push(attachItem);
                    }
                    var saveData = {
                        UserId: "@Context.Request.Cookies[SessionKeys.SESSION_USERID]", Id: _aPId
                        //, AppealResult: $("#chkAppealResult").is(':checked') == true ? "P" : "F"
                         , AppealResult: $("#radAppealResult input[type=radio]").filter(":checked").val() == "1" ? "P" : "F"
                        , ApprovalRemark: $("#txtApprovalRemark").val(), ApproalAttachList: attachList
                    };
                    $.sa.post(UPDATEAPPLEALINFO,
                    //$.sa.post("http://localhost:6505/mbms/api/v1/AppealMng/UpdateApplealInfo",
                         JSON.stringify(saveData),
                         {
                             "success": function (data) {
                                 $.sa.alert('保存成功！');
                                 window.parent.popcallback("success");
                             },
                             "failure": function (data) {
                                 $.sa.alert("保存失败");
                             }
                         }, $("body"));
                }
            });
        }
        ///预览按钮
        function fn_PreviewFile(cellvalue, options, rowObject) {
            var previewPath = rowObject.Url;
            if (rowObject.AttachName.substr(rowObject.AttachName.lastIndexOf(".")) == ".gif" || rowObject.AttachName.substr(rowObject.AttachName.lastIndexOf(".")) == ".jpg" || rowObject.AttachName.substr(rowObject.AttachName.lastIndexOf(".")) == ".png")
                return "<a href='" + previewPath + "' data-lightbox='PreviewPicture' style='margin-left: 10px; cursor: pointer; color: #0088cc; text-decoration: underline;'>" + rowObject.AttachName + "</a>";
            else {
                var url = '@Url.Action("DownLoadForRename", "Notice")' + "?fileName=" + encodeURIComponent(rowObject.AttachName) + "&sourcepath=" + previewPath;
                return " <a href='" + url + "'  class='btn' download='" + rowObject.AttachName + "'>" + rowObject.AttachName + "</a>";
            }
        }

        function fn_UnPreviewFile(cellvalue, options, rowObject) {
            return cellvalue;
        }
        //删除按钮
        function fn_DeleteFile(cellvalue, options, rowObject) {
            return '<a class="btn" onclick="fn_DoDeleteFile(' + options.rowId + ')"><span class="fa fa-trash-o gap-icon  fa-lg" style="color:red"></span></a>';
        }
        //删除按钮
        function fn_DeleteFile2(cellvalue, options, rowObject) {
            return '<a class="btn" onclick="fn_DoDeleteFile2(' + options.rowId + ')"><span class="fa fa-trash-o gap-icon  fa-lg" style="color:red"></span></a>';
        }

        function fn_UnDeleteFile(cellvalue, options, rowObject) {
            return "";
        }
        function fn_DoDeleteFile(id) {
            var ids = $(id).attr("id");
            if (!ids)
                ids = id + '';
            _grid.delRowData(ids);
        }
        function fn_DoDeleteFile2(id) {
            var ids = $(id).attr("id");
            if (!ids)
                ids = id + '';
            _grid2.delRowData(ids);

        }

        //添加行
        function fn_Addrow(picName, key) {
            var ids = _grid.getDataIDs();
            var pref = $.jgrid.uidPref;
            var newid = 1;
            if (ids && ids.length > 0) {
                var regx = new RegExp(pref, 'g');
                var nids = ids.join(',').replace(regx, '').split(',');
                var maxid = Math.max.apply(Math, nids);
                newid = maxid + 1;
            }
            newid = pref + (newid).toString();
            var rowdata = {
                ShareUrl: picName,
                AttachName: picName,
                Url: host + g_dirname + key
            };
            _grid.addRowData(newid, rowdata, "first");
            $(_grid.getGridRowById(newid)).addClass("edited");
        }
        //添加行
        function fn_Addrow2(picName, key) {
            var ids = _grid2.getDataIDs();
            var pref = $.jgrid.uidPref;
            var newid = 1;
            if (ids && ids.length > 0) {
                var regx = new RegExp(pref, 'g');
                var nids = ids.join(',').replace(regx, '').split(',');
                var maxid = Math.max.apply(Math, nids);
                newid = maxid + 1;
            }
            newid = pref + (newid).toString();
            var rowdata = {
                ShareUrl: picName,
                AttachName: picName,
                Url: host + g_dirname + key
            };
            _grid2.addRowData(newid, rowdata, "first");
            $(_grid2.getGridRowById(newid)).addClass("edited");
        }
    </script>

    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_GridInit() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                     {
                         name: 'AttachName', label: '申诉附件', width: 210, align: 'left',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         },
                         formatter: fn_PreviewFile, unformat: fn_UnPreviewFile
                     },
                     {
                         name: '', label: '删除', width: 30, align: 'center',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         },
                         formatter: fn_DeleteFile, unformat: fn_UnDeleteFile, hidden: _aPId == 0 ? false : true
                     },
                     {
                         name: 'Url', hidden: true
                     }
                ],
                width: $('#Grid').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 10,
                rowList: [10, 20, 30],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='grid_rn']").addClass("readonlycell");
                },
                afterInsertRow: function (rowid, r) {
                }
            });
        }

        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }

        function fn_SetGrid2(mydata) {
            mydata = mydata || [];
            _grid2.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }

        function fn_SaveCell() {
            var $t = $(this);
            var $ecs = $(".edit-cell", $t);
            $ecs.each(function (idx, ec) {
                var iRow = $(ec).parent().index();
                var iCol = $(ec).index();
                $t.saveCell(iRow, iCol);
            });
        }

        function fn_GridInit2() {
            _grid2.jqGrid({
                datatype: 'local',
                colModel: [
                     {
                         name: 'AttachName', label: '审核附件', width: 210, align: 'left',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         },
                         formatter: fn_PreviewFile, unformat: fn_UnPreviewFile
                     },
                     {
                         name: '', label: '删除', width: 30, align: 'center',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         },
                         formatter: fn_DeleteFile2, unformat: fn_UnDeleteFile, hidden: _result == 0 ? false : true
                     },
                     {
                         name: 'Url', hidden: true
                     }
                ],
                width: $('#Grid2').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 10,
                rowList: [10, 20, 30],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager2'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager2_left').css('width', '25%');
                    $('#pager2_right').css('width', '25%');

                    $("[aria-describedby='grid2_rn']").addClass("readonlycell");
                },
                afterInsertRow: function (rowid, r) {
                }
            });
        }
    </script>

    <!--6.Upload-->
    <script>
        function fn_Upload(id) {
            var uploader = new plupload.Uploader({
                runtimes: 'html5,flash,silverlight,html4',
                browse_button: 'selectfiles2',
                multi_selection: false,
                container: document.getElementById('container2'),
                flash_swf_url: 'lib/plupload-2.1.2/js/Moxie.swf',
                silverlight_xap_url: 'lib/plupload-2.1.2/js/Moxie.xap',
                url: 'http://oss.aliyuncs.com',

                init: {
                    PostInit: function () {
                        document.getElementById('ossfile2').innerHTML = '';
                        document.getElementById('postfiles2').onclick = function () {
                            set_upload_param(uploader, '', false);
                            return false;
                        };
                    },

                    FilesAdded: function (up, files) {
                        plupload.each(files, function (file) {
                            document.getElementById('ossfile2').innerHTML += '<div id="' + file.id + '" class="uploadify-queue-item">\
					<div class="cancel">\
						<a href="javascript:uploader.removeFile(\'' + file.id + '\');">X</a>\
					</div>\
					<span class="fileName">' + file.name + ' (' + plupload.formatSize(file.size) + ')</span><span class="data"></span>\
					<div class="uploadify-progress">\
						<div class="uploadify-progress-bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>\
					</div>\
				</div>';
                        });
                        document.getElementById('postfiles2').click();
                    },
                    FilesRemoved: function (up, files) {
                        $item = $("#" + files[0].id);
                        $item.find('.data').removeClass('data').html(' - 上传取消中');
                        $item.find('.uploadify-progress-bar').remove();
                        $item.delay(1000).fadeOut(500, function () {
                            $(this).remove();
                        });
                    },
                    BeforeUpload: function (up, file) {
                        set_upload_param(up, file.name, true);
                    },

                    UploadProgress: function (up, file) {
                        var d = document.getElementById(file.id);
                        d.getElementsByTagName('span')[1].innerHTML = '<span>' + file.percent + "%</span>";
                        var prog = d.getElementsByTagName('div')[1];
                        var progBar = prog.getElementsByTagName('div')[0]
                        progBar.style.width = file.percent + '%';
                        progBar.setAttribute('aria-valuenow', file.percent);
                    },

                    FileUploaded: function (up, file, info) {
                        if (info.status == 200) {
                            setTimeout(function () {
                                if ($('#' + file.id)) {
                                    up.total.size -= file.size;
                                    up.total.uploaded -= 1;
                                    delete up.files[file.id]
                                    $('#' + file.id).fadeOut(500, function () {
                                        $(this).remove();
                                    });
                                }
                            }, 1000);
                            fn_Addrow2(file.name, g_object_name);
                        }
                        else {
                            document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = info.response;
                        }
                    },

                    Error: function (up, err) {
                        console.log(document.createTextNode("\nError xml:" + err.response));
                        console.log(err.response);
                    }
                }
            });
            uploader.init();
        }
    </script>
}
<div class="row">
    <div class="col-md-8  col-sm-12  gap-top">
        <div class="input-group">
            <label class="input-group-addon title-xs">失分备注</label>
            <textarea id="txtSRemarks" class="form-control" style="height:100px;" disabled></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8  col-sm-12  gap-top">
        <div class="input-group">
            <label class="input-group-addon title-xs">申诉内容<span style="color:red">*</span></label>
            <textarea id="txtAppealContent" class="form-control" style="height:150px;"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="ossfile"></div>
        <br />
        <div id="container" class="hidden">
            <a id="selectfiles" href="javascript:void(0);" class='btn btn-primary'><span class="fa fa-cloud-upload gap-icon"></span>上传文件</a>
            <a id="postfiles" href="javascript:void(0);" class='btn' style="display:none">开始上传</a>
        </div>
    </div>
</div>
<div class="row">
    <div id="Grid" class="col-md-12">
        <table id="grid" class="ui-jqgrid-htable"></table>
        <div id="pager" class="page">
        </div>
    </div>
</div>
<div class="row gap-top"></div>
<div class="row gap-top">
    <div class="col-md-12">
        <div style="text-align:center;">
            <button type="button" class="btn btn-primary hidden" id="btnSave">
                <span class="fa fa-save gap-icon"></span>申诉
            </button>
        </div>
    </div>
</div>

<div class="row hidden" id="divAppealResult">
    <div class="col-md-4  col-sm-6" style="padding-top:10px;">
        <div class="input-group">
            <label class="input-group-addon title-xs">是否通过</label>
            @*<div class="form-control">
                <label class="checkbox-inline" style="cursor:default;">
                    <input type="checkbox" id="chkAppealResult" />&nbsp;
                </label>
            </div>*@
            <div class="form-control" id="radAppealResult">
                <input type="radio" name="radResult" value="1" id="passy"/><label for="passy"  class="radio-inline" style="cursor:default;"> 通过</label>
                <input type="radio" name="radResult" value="0" id="passn"/><label for="passn"  class="radio-inline" style="cursor:default;">不通过</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8  col-sm-12  gap-top hidden" id="divApprovalRemark">
        <div class="input-group">
            <label class="input-group-addon title-xs">审核结果</label>
            <textarea id="txtApprovalRemark" class="form-control" style="height:150px;"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="ossfile2"></div>
        <br />
        <div id="container2" class="hidden">
            <a id="selectfiles2" href="javascript:void(0);" class='btn btn-primary'><span class="fa fa-cloud-upload gap-icon"></span>上传文件</a>
            <a id="postfiles2" href="javascript:void(0);" class='btn' style="display:none">开始上传</a>
        </div>
    </div>
</div>
<div class="row" id="divGrid2">
    <div id="Grid2" class="col-md-12">
        <table id="grid2" class="ui-jqgrid-htable"></table>
        <div id="pager2" class="page">
        </div>
    </div>
</div>

<div class="row gap-top">
    <div class="col-md-12">
        <div style="text-align:center;">
            <button type="button" class="btn btn-primary hidden" id="btnApproal">
                <span class="fa fa-save gap-icon"></span>保存
            </button>
        </div>
    </div>
</div>