@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "任务卡导入";
}
@section Scripts{
    <style type="text/css">
        #txtSDate.datewidth, #txtEDate.datewidth {
            width: 48.5%;
        }

        #selUseYN {
            width: 100%;
        }

        #divfile {
            width: 25%;
        }

        .datemargin {
            margin-left: 3%;
            margin-top: -1.4em;
        }

        .aline {
            text-decoration: underline;
            font-size: 12px;
        }
    </style>
    <!-- 1. Load -->
    <script type="text/javascript">
        var _startDate = '@ViewBag.StartDate';
        var _nowDate = '@ViewBag.NowDate';
        var uploader = "";
        var sType="";
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                format: "yyyy-mm-dd",
                minView: 2,
                autoclose: true,
                todayBtn: true,
                todayHighlight: 1,
                pickerPosition: "bottom-right",
                language: "zh-CN",
                //endDate: _nowDate,
                forceParse: 0
            });
            DateFormatCheckEvent("txtSDate");
            DateFormatCheckEvent("txtEDate");
            Initialize();
            InitData();



            $("#upload").click(function (evt) {
                var fileUpload = $("#files").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                for (var i = 0; i < files.length ; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "/Task/UploadFilesAjax",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (message) {
                        // alert(message);
                        if (JSON.parse(message).Success == true) {
                            fn_ExcelUpload(message);
                            //$.sa.warning("上传成功");
                        } else {
                            $.sa.warning("上传失败,请重试.");
                        }
                    },
                    error: function () {
                        $.sa.warning("上传失败,请重试.");
                    }
                });
            });
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function Initialize() {
            fn_GridInit();
            var width = $("div.ui-jqgrid-bdiv").width();
            $("div.ui-jqgrid-sdiv").css("width", width);
            $("#btnSearch").on("click", function () {
                fn_Search();
            });
            $("#btnExcelUpload").on("click",function(){
                $("#files").val("");
                //fn_checksourceType();
                sType=$("#selsourceType").val();
                $('#files').click();

            });
            $("#files").change(function () {
                $("#fileText").val($("#files").val());
                $("#upload").click();
            });
            $("#btnExcelDown").on("click",function(){
                //location.href = "~/Template/Score.xlsx";
                document.getElementById("a").click();
            });
        }

        function InitData() {
            $('#txtSDate').val(_startDate);
            $('#txtEDate').val(_nowDate);
            fn_initStatus();
            fn_initsourceType();
            fn_initTaskCardKind();
        }
    </script>
    <!-- 4. Custom Function -->
    <script type="text/javascript">
        function fn_initStatus() {
            //$.sa.get('http://infiqaapi.elandcloud.com/infi/api/v1/PlanTask/GetStatus',
            $.sa.get(TASKGETSTATUS,
                         { GroupCode: '10' },
                         {
                             "success": function (data) {
                                 if (data != null) {
                                     $('#selStatus').html(JsonToCboList("Name", "Value", JSON.parse(data.body), { "SelectType": "ALL" }));
                                     //$.sa.warning(data.body);
                                 }
                             },
                             "failure": function (data, statusText, jqXHR) {
                                 $.sa.warning(data.msg);
                             }
                         });
        }
        function fn_initsourceType() {
            //$.sa.get('http://infiqaapi.elandcloud.com/infi/api/v1/PlanTask/GetStatus',
            $.sa.get(TASKGETSTATUS,
                           { GroupCode: '15' },
                           {
                               "success": function (data) {
                                   if (data != null) {
                                       $('#selsourceType').html(JsonToCboList("Name", "Value", JSON.parse(data.body)));
                                       //$.sa.warning(data.body);
                                   }
                               },
                               "failure": function (data, statusText, jqXHR) {
                                   $.sa.warning(data.msg);
                               }
                           });
        }
        function fn_initTaskCardKind() {
            //$.sa.get('http://infiqaapi.elandcloud.com/infi/api/v1/PlanTask/GetStatus',
            $.sa.get(TASKGETSTATUS,
                           { GroupCode: '16' },
                            {
                                "success": function (data) {
                                    if (data != null) {
                                        $('#selKind').html(JsonToCboList("Name", "Value", JSON.parse(data.body), { "SelectType": "ALL" }));
                                        //$.sa.warning(data.body);
                                    }
                                },
                                "failure": function (data, statusText, jqXHR) {
                                    $.sa.warning(data.msg);
                                }
                            });
        }
        function fn_Search() {
            var sdate = $("#txtSDate").val().replace(/\-/gi, '');
            var edate = $("#txtEDate").val().replace(/\-/gi, '');
            if (sdate > edate) {
                $.sa.warning("结束时间不能在开始时间之前");
                return;
            }
            var tcRange = "0";//$("[name=searchType]").filter(":Checked").val() == "" ? "0" : $("[name=searchType]").filter(":Checked").val();
            var type = '0';//$("#selStatus").val();
            var useYN=$("#selUseYN").val();
            var sourceType=$("#selsourceType").val();
            var kind='0';//$("#selKind").val();
            //$.sa.get('http://localhost:6505/infi/api/v1/PlanTask/GetTaskCardList',
            $.sa.get(TASKGETTASKCARDLIST,
                      { SDate: sdate, EDate: edate, TCType: type, TCRange: tcRange, InUserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]',UseYN:useYN ,SourceType:sourceType,Kind:kind},
                      {
                          "success": function (data) {
                              if (data != null && JSON.parse(data.body).length > 0) {
                                  //$('#selStatus').html(JsonToCboList("Name", "Code", JSON.parse(data.body), { "SelectType": "ALL" }));
                                  fn_SetGrid(JSON.parse(data.body));
                              } else {
                                  $.sa.warning("没有查询到数据！");
                                  fn_SetGrid("");
                              }
                          },
                          "failure": function (data, statusText, jqXHR) {
                              fn_SetGrid("");
                              $.sa.warning(data.msg);
                          }
                      }, $("body"));
        }

        function fn_GetPlanDetail(id) {
            $.sa.pop('/Task/TAS053P', {
                height:'520px', width: 900, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>任务卡详细</span>',
                params: {
                    TCId: id
                }
          , popcallback: function (msg) {
              if (msg != null && msg.length > 0) {
                  $.sa.warning("修改成功！");
                  fn_Search();
              }
          }
            });
        }
        function fn_checksourceType() {
            $.sa.pop('/Task/TAS052P', {
                height: 100, width: 400, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>来源类型选择</span>',
                params: {

                }
                  , popcallback: function (msg) {
                      if (msg != null && msg.length > 0) {
                          sType=msg[0];
                          $('#files').click();
                      }
                  }
            });
        }
        function fn_GetPlanDetailNotEdit(id) {
            $.sa.pop('/Task/TAS051P', {
                height:'520px', width: 900, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>任务卡详细</span>',
                params: {
                    TCId: id
                }
          , popcallback: function (msg) {
              if (msg != null && msg.length > 0) {
                  $.sa.warning("修改成功！");
                  fn_Search();
              }
          }
            });
        }
        function fn_ExcelUpload(obj) {
            var taskcard=JSON.parse(JSON.parse(obj).Result).TaskCard;
            var taskitem=JSON.parse(JSON.parse(obj).Result).TaskItem;
            var checkstandard=JSON.parse(JSON.parse(obj).Result).CheckStandard;
            var picturestandard=JSON.parse(JSON.parse(obj).Result).PictureStandard;
            taskcard.splice(0,1);
            taskitem.splice(0,1);
            checkstandard.splice(0,1);
            //picturestandard.splice(0,1);
            var item = {InUserId:@Context.Request.Cookies[SessionKeys.SESSION_USERID],SourceType:sType,Plans:JSON.parse(JSON.parse(obj).Result).Plans,TaskOfPlans:JSON.parse(JSON.parse(obj).Result).TaskOfPlans,TaskCard:taskcard
            ,TaskItem:taskitem,CheckStandard:checkstandard,Score:JSON.parse(JSON.parse(obj).Result).Score,CheckResult:JSON.parse(JSON.parse(obj).Result).CheckResult,PictureStandard:picturestandard};
            //$.sa.post('http://localhost:6505/infi/api/v1/PlanTask/ExcelUploadPlans',
            $.sa.post(EXCELUPLOADPLANS,
                          JSON.stringify(item),
                          {
                              "success": function (data) {
                                  if (data != null && data.msg == "") {
                                      $.sa.warning("保存成功！");
                                      //fn_ClosePlan();
                                  } else {
                                      $.sa.warning("保存失败！");
                                      //fn_SetGrid("");
                                  }
                              },
                              "failure": function (data, statusText, jqXHR) {
                                  //fn_SetGrid("");
                                  $.sa.warning(data.msg);
                              }
                          }, $("body"));
        }
    </script>
    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_GridInit() {
            $('#gridTaskcard').jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'Id', label: '任务卡Id', width: 65, align: 'center', hidden: false,
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'TCCode', label: '任务代码', width: 100, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'TCTitle', label: '任务简称', width: 190, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },

                    {
                        name: 'TCDescription', label: '任务概述', width: 200, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'TypeName', label: '类型', width: 50, align: 'center',hidden:true,
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'KindName', label: '任务卡种类', width: 90, align: 'center',hidden:true,
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'RangeName', label: '适用范围', width: 80, align: 'center',hidden:true,
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'UseYN', label: '使用与否', width: 70, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        },formatter:function(v, o, r)
                        {
                            if (r.UseYN=="1") {
                                return "在用";
                            }else if(r.UseYN=="0"){
                                return "更新停用";
                            }else{
                                return "手动停用";
                            }
                        }, unformat: function () {
                            return 0;
                        }
                    },
                     {
                         name: 'SourceName', label: '来源类型', width: 90, align: 'center',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         }
                     },
                     {
                         name: 'UserName', label: '登记人', width: 70, align: 'center',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         }
                     },
                     {
                         name: 'InDateTime', label: '登记日期', width: 90, align: 'center',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         }
                     },
                     {
                         name: 'Rate', label: '详细', width: 80, align: 'center',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         }, formatter: function (v, o, r) {
                             if (r.IsEdit == "Y") {
                                 return '<button type="button" class="btn btn-primary btn-sm"  style="width:100%;"  onclick="fn_GetPlanDetail(' + r.Id + ')">详细</button>';

                             } else {
                                 return '<button type="button" class="btn btn-primary btn-sm"  style="width:100%;"  onclick="fn_GetPlanDetailNotEdit(' + r.Id + ')">详细</button>';
                             }
                         }, unformat: function () {
                             return 0;
                         }
                     },
                     {
                         name: 'TCType', label: 'TCType', width: 103, align: 'center', hidden: true
                     },
                     {
                         name: 'TCRange', label: 'TCRange', width: 103, align: 'center', hidden: true
                     },
                     {
                         name: 'DisId', label: 'DisId', width: 103, align: 'center', hidden: true
                     },
                     {
                         name: 'InUserId', label: 'InUserId', width: 103, align: 'center', hidden: true
                     },
                     {
                         name: 'IsEdit', label: 'IsEdit', width: 103, align: 'center', hidden: true
                     },
                     {
                         name: 'SourceCode', label: 'SourceCode', width: 103, align: 'center', hidden: true
                     }
                ],
                width: $('#Grid').width(),
                shrinkToFit: true,
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 15,
                rowList: [15, 30, 45],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                //autoScroll: false,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                        //                    ShowNoDataDiv("grid","msg","没有数据");
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='gridTaskcard_rn']").addClass("readonlycell");
                }
            });
        }

        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            $('#gridTaskcard').clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
    </script>
}
<div class="">
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <span class="fa fa-flag fa-lg gap-icon"></span><span class="page-mtitle">申诉管理</span><span>&nbsp;>&nbsp;</span><span class="page-title">任务卡导入</span>
            <div class="pull-right">
                <button id="btnSearch" class="btn btn-primary">
                    <span class="fa fa-search gap-icon"></span>查询
                </button>
                <button id="btnExcelUpload" class="btn btn-primary">
                    <span class="fa fa-file-excel-o gap-icon"></span>Excel上传
                </button>
                <button id="btnExcelDown" class="btn btn-primary">
                    <span class="fa fa-file-excel-o gap-icon"></span>Excel模板下载
                </button>
                <a href="~/Template/任务卡模板.xlsx" class="aline" id="a" style="display:none">Excel模板下载</a>
            </div>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-md-0" id="divfile">
                <input id="files" name="files" type="file" style="display:none" />
                <input id="fileText" type="text" class="form-control" style="display:none" />
            </div>
            <div class="col-md-0">
                <input type="button" id="upload" class="btn btn-primary" value="Excel上传" style="display:none;" />
            </div>
        </div>
    </form>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-4 col-sm-6 ">
            <div class="input-group">
                <span class="input-group-addon">期间</span>
                <input size="16" type="text" value="" class="form_datetime form-control text-center datewidth"
                       id="txtSDate" />
                <span>~</span>
                <input size="16" type="text" value="" class="form_datetime form-control text-center datewidth datemargin"
                       id="txtEDate" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">来源类型</span>
                <select class="form-control" id="selsourceType" disabled></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">使用与否</span>
                <select class="form-control" id="selUseYN">
                    <option value="">全部</option>
                    <option value="1">在用</option>
                    <option value="0">更新停用</option>
                    <option value="2">手动停用</option>
                </select>
            </div>
        </div>

        @*<div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">类型</span>
                <select class="form-control" id="selStatus"></select>
            </div>
        </div>*@

        @*<div class="col-xs-6">
            <div class="input-group">
                <span class="input-group-addon ">适用范围</span>
                <div class="form-control" id="rdo">
                    <label class="radio-inline">
                        <input type="radio" name="searchType" id="fullAlll" value="" checked />
                        全部
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="searchType" id="fullAlll" value="L" />
                        全国通用
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="searchType" id="fullAttend" value="I" />
                        厂家通用
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="searchType" id="continuousAttend" value="A" />
                        地区通用
                    </label>
                </div>
            </div>
        </div>*@
    </div>
    <div class="row" style="margin-top:10px;">
        @*<div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">来源类型</span>
                <select class="form-control" id="selsourceType" disabled></select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">使用与否</span>
                <select class="form-control" id="selUseYN">
                    <option value="">全部</option>
                    <option value="1">在用</option>
                    <option value="0">更新停用</option>
                    <option value="2">手动停用</option>
                </select>
            </div>
        </div>*@
        @*<div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">任务卡种类</span>
                <select class="form-control" id="selKind"></select>
            </div>
        </div>*@
    </div>
    <div class="row" style="margin-top:10px;">
        <div id="Grid" class="col-md-12">
            <table id="gridTaskcard" class="ui-jqgrid-htable"></table>
            <div id="pager" class="page">
            </div>
        </div>
    </div>
</div>