@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "自定义任务检查";
}
@section scripts{
    <!-- 1. Load -->
    <script type="text/javascript">
        var _tPId;
        var _operation;
        var _tPStatus;
        var _scoreId;
        $(document).ready(function () {
            fn_InitData();

            $("#btnSave").on("click", function () {
                fn_Save();
            });
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">

        function fn_InitData() {
            _tPId = Request["TPId"];
            _operation = Request["Operation"];
            _tPStatus = Request["TPStatus"];
            fn_Search(_tPId, _operation, _tPStatus);

        }
    </script>
    <!-- 3. Validate -->
    <script type="text/javascript">
        function ValidationBeforeSave() {
            if ($("#txtRemarks").val().trim() == "") {
                $.sa.warning("请填写备注信息");
                return false;
            }
            return true;
        }
    </script>
    <!-- 4. Custom Function -->
    <script type="text/javascript">

        function fn_Search(_tPId, _operation, _tPStatus) {
            $.sa.get(GETCUSTOMIZEDTASKBYTASKID,
                         {
                             taskId: _tPId
                             , operation: _operation
                         },
                         {
                             "success": function (data) {
                                 if (JSON.parse(data.body) && JSON.parse(data.body)[0]) {
                                     $("#txtRemarks").val(JSON.parse(data.body)[0].Remarks);
                                     _scoreId = JSON.parse(data.body)[0].ScoreId;
                                     fn_SetControlStatus();
                                 }
                             },
                             "failure": function (data) {
                                 $.sa.warning(data.msg);
                             }
                         }, $("body"));

        }

        function fn_Save() {
            if (!ValidationBeforeSave()) {
                return;
            }
            $.sa.confirm('确定保存吗？', {
                fnOk: function () {
                    $(".close").click();
                    $.sa.post(CUSTOMIZEDTASKCHECK,
                         JSON.stringify({
                             ScoreId: _scoreId
                             , TPId: _tPId
                             , Remarks: $("#txtRemarks").val()
                             , UserId: "@Context.Request.Cookies[SessionKeys.SESSION_USERID]"
                         }),
                         {
                             "success": function (data) {
                                 $.sa.alert('保存成功！');
                                 window.parent.popcallback("success");
                             },
                             "failure": function (data) {
                                 $.sa.alert("保存失败");
                             }
                         }, $("body"));
                }
            });
        }
        function fn_SetControlStatus() {
            if (_tPStatus == "检查完成") {
                $("#txtRemarks").prop("disabled", true);
                $("#btnSave").addClass("hidden");
            } else {
                $("#txtRemarks").prop("disabled", false);
                $("#btnSave").removeClass("hidden");
            }

        }
    </script>
}
<div class="row">
    <div class="col-md-8  col-sm-12  gap-top">
        <div class="input-group">
            <label class="input-group-addon title-xs">备注</label>
            <textarea id="txtRemarks" class="form-control" style="height:200px;"></textarea>
        </div>
    </div>
</div>
<div class="row gap-top"></div>
<div class="row gap-top">
    <div class="col-md-12">
        <div style="text-align:center;">
            <button type="button" class="btn btn-primary hidden" id="btnSave">
                <span class="fa fa-save gap-icon"></span>保存
            </button>
        </div>
    </div>
</div>