@charset "utf-8";
i{font-style: normal;}
body,html,.out{height: 100%;}
/*左部分*/
.left_box{background-color: #3179b9;width: 290px;position: relative;min-height: 740px;height: 100%;}
.vw_logo{background-color: #1f4e78;padding: 17px 19px;}
.vw_list a{display: block;line-height: 57px;color: #fff;font-size: 16px;border-left:5px solid #3179b9;border-top: 1px solid #5582aa;padding-left: 90px;background-color: #3179b9;}
.vw_li1{background:url(../images/dos_23.png) 41px 10px no-repeat;}
.vw_li2{background:url(../images/dos_27.png) 41px 11px no-repeat;}
.vw_li3{background:url(../images/dos_31.png) 41px 12px no-repeat;}
.vw_li4{background:url(../images/dos_35.png) 41px 12px no-repeat;}
.vw_li5{background:url(../images/dos_41.png) 41px 12px no-repeat;}
.vw_li6{background:url(../images/dos_23.png) 41px 20px no-repeat;}
.vw_list a span{display: inline-block;}
.vw_list a span.list_two{width: 161px;line-height: 24px;margin-top: 18px;}
.vw_list a.list_two{line-height: 52px;}
.list_num{background:url(../images/dos_38.png) 0 0 no-repeat;width: 30px;height: 30px;line-height: 30px;margin-right: 40px;margin-top: 15px;}
.vw_list a:hover{background-color: #1f4e78;border-left:5px solid #fff;font-weight: 550;border-top: 1px solid #3179b9;;}
.vw_list a.listshow{background-color: #1f4e78;border-left:5px solid #fff;font-weight: 550;border-top: 1px solid #3179b9;}
.vw_listmore{width: 27px;}
.vw_listmore span{background:url(../images/yuan_03.png) 0 0 no-repeat;width: 5px;height: 5px;display: inline-block;margin: 8px 2px;}
.head{width: 98px;}
.head img{width: 98px;height: 98px;}
.head .gai{left: 0;z-index: 2;top: 0;}
.vw_peo p{width: 245px;color: #dcdcdc;}
.end_btn{background-color: #1f4e78;height: 71px;margin-top: 25px;left: 0;bottom: 0;position: absolute;width: 289px;}
 .end_btn div{width: 144px; height: 69px;}
.end_btn a{width: 69px;display: inline-block;padding: 17px 0;height: 37px;}
.end_btn a:hover{background-color: #86b926;}
.end_btn a.end_btnshow{background-color: #86b926;}
.end_btn a.boderleft{border-right: 1px solid #5582aa;}
.end_btnboder{width: 1px;background-color: #5582aa;height:71px;}
/*右部分*/
.right_box{margin-left: 290px;}
.kuai{width: 10px;height: 10px;background-color: #1f4e78;display: inline-block;}
.kuai1{width: 8px;height: 8px;background-color: #535353;display: inline-block;margin-left: 10px;margin-right: 8px;}
/*右部分头部*/
.right_bt{height: 84px;min-width:1000px;}
.right_bt .now{width: 235px;padding-top:28px;padding-bottom: 30px;font-size: 20px;color: #3179b9;}
#nav{padding: 17px 0}
#nav a,#nav2 a,#nav3 a{margin-right:0px;padding-right: 15px;}

#nav a:hover{background-color: #86b926;border-radius: 37px;color: #fff;}
#nav2 a:hover{background-color: #86b926;border-radius: 37px;color: #fff;}
#nav3 a:hover{background-color: #86b926;border-radius: 37px;color: #fff;}
#nav a.bigbtnshow{background-color: #86b926;border-radius: 37px;color: #fff;}
#nav2 a.bigbtnshow{background-color: #86b926;border-radius: 37px;color: #fff;}
#nav3 a.bigbtnshow{background-color: #86b926;border-radius: 37px;color: #fff;}

.navlogo1{background:url(../images/bigbtn_03.png) 0 4px no-repeat;width: 40px;height: 57px;}
.navlogo2{background:url(../images/bigbtn_05.png) 0 3px no-repeat;width: 43px;height: 58px;}
.navlogo3{background:url(../images/bigbtn_08.png) 0 6px no-repeat;width: 46px;height: 57px;}
.navlogo4{background:url(../images/bigbtn_11.png) 0 3px no-repeat;width: 46px;height: 57px;}
.bigbtn1:hover .navlogo1{background:url(../images/bigbtn1_03.png) 0 4px no-repeat;}
.bigbtn2:hover .navlogo2{background:url(../images/bigbtn1_05.png) 0 3px no-repeat;}
.bigbtn3:hover .navlogo3{background:url(../images/bigbtn1_08.png) 0 6px no-repeat;}
.bigbtn4:hover .navlogo4{background:url(../images/bigbtn1_11.png) 0 3px no-repeat;}
/*顶部nav选中效果*/
#nav a.bigbtnshow .navlogo1{background:url(../images/bigbtn1_03.png) 0 4px no-repeat;}
#nav a.bigbtnshow .navlogo2{background:url(../images/bigbtn1_05.png) 0 3px no-repeat;}
#nav a.bigbtnshow .navlogo3{background:url(../images/bigbtn1_08.png) 0 6px no-repeat;}
#nav a.bigbtnshow .navlogo4{background:url(../images/bigbtn1_11.png) 0 3px no-repeat;}
.nav_wz{line-height: 17px;margin:15px 7px 0 5px;padding-left: 20px;}
.ch_nav{font-size: 16px;}
/*通知拟定表单部分*/
.inputcon{font-size: 16px;padding-top: 15px;}
.inputcon input{padding: 5px 10px;font-size: 18px;color: #908d8d;}
.inputcon ul li{float: left;margin-top: 7px;margin-bottom: 7px; cursor: pointer;}
.fang{background:url(../images/fang_03.jpg) 0 17px no-repeat;padding-left: 20px;}
.inputcon ul li span{color: #a7a7a7;}
.inputcon ul li i{width: 95px;display: inline-block;line-height: 40px;}
.inli1{width: 753px;}
.inputcon .text{width: 550px;}
.inputcon .textarea{width:677px;height: 160px;padding: 10px;line-height:27px;font-size: 16px;color: #908d8d;}
.inputcon .bottombtn{background:url(../images/jian_03.png) 303px 16px no-repeat;}
.inputcon p.changefile.bottombtn{background:url(../images/jian_03.png) 392px 18px no-repeat;}
.inputcon ul .jingxiao,.inputcon ul .juese{width:255px;border: 1px solid #a9a9a9;}
.inputcon .rightbtn{background:url(../images/jian_07.png) 250px 9px no-repeat;}
.meng,.meng1{width: 100%;height: 100%;min-height: 1200px;background:url(../images/meng_01.png) 0 0 repeat;position: fixed;left: 0;top: 0;font-size: 16px;display: none;opacity: 0;z-index: 50;}
.meng .jingxiaoshang,.meng1 .jingxiaoshang{background-color: #fff;width: 770px;height: 461px; padding: 19px 34px;left: 50%;margin-left: -385px;top: 50%;margin-top: -460px;color: #a0a0a0;line-height:48px;}
.meng .jingxiaoshang p,.meng1 .jingxiaoshang p{border-bottom: 1px solid #eeeeee;padding: 0 25px;}
.meng .jingxiaoshang p span,.meng1 .jingxiaoshang p span{width: 270px;display: inline-block;}
.inputcon .yesbtn{background: url(../images/yesbtn2.png) 0 0 no-repeat;font-size: 16px; width: 120px;height: 40px;border: none;line-height: 40px;color: #fff;padding: 0;display: block;margin-top: 10px;line-height: 40px;color: #fff;}
.inputcon .yesbtn:hover{background: url(../images/yesbtn1.png) 0 0 no-repeat;}
.cx_conxq .tzcx_li1{width: 117px;}
.cx_conxq .tzcx_li2{width:161px;}
/*上传文件*/
.uploadImg .file{opacity:10; filter:alpha(opacity=1);width: 80px;height: 40px;}
.uploadImg .filebtn{padding: 12px 14px;

    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #3179b9;
    border: 1px solid #ddd;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    *display: inline;
    *zoom: 1}
    .uploadImg .filebtn input{ position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);}
.changefile{width: 409px;border: 1px solid #bfbfbf;*zoom:1;line-height: 43px;font-size: 16px;color: #a0a0a0;padding-left: 10px;margin-left: 50px;cursor: pointer;}
#upfiles{margin-left: 50px;width: 391px;position: absolute;z-index: 10;display:1px solid #a9a9a9;box-shadow:1px 1px 10px #a9a9a9;list-style-type:decimal;padding-left: 30px;background-color: #fff;}
#upfiles li{background: none;width: 410px;padding-left: 0;font-size: 16px;color: #a0a0a0;float: left;background:url(../images/shanchu_03.png) 370px 6px no-repeat;height: 30px;}
#upfiles li div{width: 370px;display: inline-block;}
#upfiles li div.del{cursor: pointer;display: inline-block;width: 20px;height: 20px;}
#upfiles li:hover{background:url(../images/del_03.png) 370px 6px no-repeat;}
.inputcon p.rightbtn{background:url(../images/jian_07.png) 400px 9px no-repeat;}
.bottom_btn{height: 50px;}
.bottom_btn input{float: left;margin: 0 45px;}
/*通知查询头部*/
.cx_head{padding-bottom: 40px;}
.cx_headleft{width: 850px;border-right: 1px solid #e5e5e5;}
li span.w_ovh{width: 110px;white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;line-height: 40px;}
.inputcon li span.wbjs{width: 130px;height: 36px;border: 1px solid #a0a0a0;line-height: 36px;padding: 0 10px;}
.inputcon span.wbjs.bottombtn{background:url(../images/jian_03.png) 123px 16px no-repeat;z-index: 100;}
.inputcon .downcon{border: 1px solid #bfbfbf;display: none;background-color: #fff;z-index: 200;text-align: center;left: 0;top: 37px;}
.gsjhzz_shenhe .downcon{width: 150px;}
.inputcon .downcon li{background:#fff;width: 150px;color:#a0a0a0;cursor: pointer;margin: 0;line-height: 40px;}
.inputcon .downcon li:hover{background-color:#eeeded;}
.cx_headleft .inli3 .calendar-input{width: 314px;}
.anlishich_inner .inli3 input.bottombtn{background:url(../images/jian_03.png) 244px 16px no-repeat;}
.inli2 .bianhao{width:127px;}
.cx_headright{width: 249px;}
.cx_headright input{margin-left:127px;}
/*通知查询内容*/
.cx_out{border-bottom: 1px solid #e5e5e5;padding-bottom: 25px;width: 850px;}
.cx_out ul{height: 122px;}
.cx_inner{padding: 11px 20px 11px 10px;width:380px;margin-top: 20px;height: 78px;}
.cx_inner:hover{background-color: #fff;box-shadow: 1px 1px 10px #d9d7d7;}
.s_jb{right: 0;top: 0;}
.cx_innertime{background-color: #eeeeee;width: 75px;color: #313131;padding: 5px 0;margin-right: 20px;}
.cx_innertime span{font-size: 42px;line-height: 46px;}
.cx_innertime i{font-size: 14px;}
.cx_con {width: 285px;}
.cx_con p{font-size: 18px;color: #313131;line-height: 40px;white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.cx_conxq li{float: left;width: 160px;color: #a6a6a6;}
.ty a{padding: 5px 10px;border:1px solid #dadada;margin: 0 2px;color: #a0a0a0;}
.ty a:hover{background-color: #e0dddd;}
.ty a.tyshow{background-color: #e0dddd}
/*待回复部分*/
.daihuifu ul li{border-bottom: 1px solid #e5e5e5;}
.daihuifu ul li i.a0a,.rili_jhrwsh ul li .a0a{color: #a0a0a0;}
.daihuifu ul li span{color: #313131;line-height: 40px;}
.tongzhi_bt{width: 374px;white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;height: 40px;}
.daihuifu ul li.dhf_li1{width:219px;margin-left: 80px;}
.fankui_con{width: 800px;}
.daihuifu ul li.dhf_li2{width:816px;}
.daihuifu ul li.dhf_li2 span{width:705px;}
.daihuifu ul li.dhf_li2 span p{line-height: 30px;padding-bottom: 10px;}
.daihuifu ul li.border_none{border: none;}
.daihuifu ul #upfiles li{border: none;}
/*通知审核*/
.inputcon .fujian_con{width: 720px;padding-bottom: 5px;}
.inputcon .fujian_con li{border: none;width: 519px;background:url(../images/shanchu_03.png) 490px 0 no-repeat;height: 30px;margin:5px 0;padding-left: 0;}
.inputcon .fujian_con li .del{width: 30px;height: 18px;}
.inputcon .fujian_con li:hover{background:url(../images/del_03.png) 490px 0 no-repeat;}
.out .daihuifu ul li.bottom_btn{background: none;margin-bottom:10px;margin-left: 60px;}
.bohui_con .textarea{height: 58px;}
.bohui_con{opacity: 0;display: none;}
.out .daihuifu ul li.bohuiyes{margin-left: 106px;}
/*案例和市场信息*/
 a#nav2{background:url(../images/nav3_03.png) 0 0 no-repeat;width: 283px;height: 65px;color: #808080;border-right: 1px solid #e5e5e5;margin-left:6px;padding-right: 6px;}
 a#nav2:hover{background:url(../images/nav2_03.png) 0 0 no-repeat;}
 a#nav2.bigbtnshow{background:url(../images/nav2_03.png) 0 0px no-repeat;}
/*#nav2 .nav_wz{width:203px;}*/
.rightcon_bt{background-color: #eeeeee;font-size: 16px;color: #a0a0a0;line-height: 41px;height: 41px;min-width: 1000px;}
.rightcon_bt a{color: #a0a0a0;}
.rightcon_bt .anlicx_n1{background:url(../images/jian_07.png) 0 9px no-repeat;padding-left: 24px;width: 73px;margin-left: 39px;}
.anlishich_inner .calendar-input{width: 252px;}
.anlishich_inner .bottombtn{background:url(../images/jian_03.png) 238px 16px no-repeat;}
.border{width: 100%;min-width:1000px;height: 1px;background-color: #eeeeee;margin-top: 10px;}
.anlicx_bt{line-height: 40px;width: 106px;}
.anlicx_con{width: 890px;}
.anlicx_con{color: #a0a0a0;}
.anlicx_con td{text-align: center;line-height: 40px;border: 1px solid #bfbfbf;border-collapse:collapse;}
/*案例登记查询*/
.anli_dengji li .textarea{height: 64px;}
/*市场信息查询*/
.rightcon_bt .shichcx_n1{width: 108px;}
/*市场信息详细*/
.chich_xiangxi ul li i{width: 124px;}
/*得分登记*/
.right_bt .now1{width: 194px;}
.right_bt a#nav2 {width: 278px;margin-left: 0;}

.navlogo5{background:url(../images/bigbtn_11_03.png) 0 4px no-repeat;width: 46px;height: 57px;}
.navlogo6{background:url(../images/bigbtn_11_06.png) 0 6px no-repeat;width: 45px;height: 58px;}
.navlogo7{background:url(../images/bigbtn_11_08.png) 0 6px no-repeat;width: 46px;height: 57px;}
.navlogo8{background:url(../images/bigbtn_11_11.png) 0 6px no-repeat;width: 46px;height: 57px;}
.bigbtn5:hover .navlogo5{background:url(../images/bigbtn1_11_03.png) 0 4px no-repeat;}
.bigbtn6:hover .navlogo6{background:url(../images/bigbtn1_11_06.png) 0 6px no-repeat;}
.bigbtn7:hover .navlogo7{background:url(../images/bigbtn1_11_08.png) 0 6px no-repeat;}
.bigbtn8:hover .navlogo8{background:url(../images/bigbtn1_11_11.png) 0 6px no-repeat;}
/*市场信息详细顶部nav选中效果*/
#nav a.bigbtnshow .navlogo5{background:url(../images/bigbtn1_11_03.png) 0 4px no-repeat;}
#nav a.bigbtnshow .navlogo6{background:url(../images/bigbtn1_11_06.png) 0 6px no-repeat;}
#nav a.bigbtnshow .navlogo7{background:url(../images/bigbtn1_11_08.png) 0 6px no-repeat;}
#nav a.bigbtnshow .navlogo8{background:url(../images/bigbtn1_11_11.png) 0 6px no-repeat;}
.defen_dengji ul li{width:400px;}
.defen_dengji .excel1{width: 713px;}
.defen_dengji .excel1 table{width: 492px;}
.defen_dengji .excel1 table td input{width:250px;border: none;padding: 0 10px;font-size: 18px;line-height: 40px;height: 40px;}
.defen_dengji .yesbtn{margin-right: 20px;}
.fybtn{margin-left: 125px;margin-top: 30px;}
.fybtn input{width: 80px;margin-top: 20px;}
/*店面巡视检核经销商选择*/
.container .jxsxz_td1{width:143px;}
.container .jxsxz_td2{width:316px;}
/*店面巡视检核任务列表*/
.renwu_list i{line-height: 40px;width: 106px;}
.renwu_list .yesbtn{margin: 0 30px;}
/*店面巡视检核经销商打分结果查看*/
.dafenchaxun_bt{width:127px;line-height: 40px;}
.navlogo9{background:url(../images/bigbtn_12_03.png) 0 8px no-repeat;width: 47px;height: 57px;}
.bigbtn9:hover .navlogo9{background:url(../images/bigbtn1_12_03.png) 0 8px no-repeat;}
#nav a.bigbtnshow .navlogo9{background:url(../images/bigbtn1_12_03.png) 0 8px no-repeat;}
.dfjgcx ul li{width: 420px;}
.dafenchaxun table{width: 800px;}
/****************改善监控互动部分********/
#nav3{padding: 18px 0}
.bigbtn_ys a{height: 56px;color: #808080;margin-left:6px;padding-right: 6px;}
.bigbtn_ys1 a{margin-left:0px;}
.navlogo11{background:url(../images/gsjsbtn_03.png) 1px 5px no-repeat;width: 46px;height: 57px;}
.navlogo12{background:url(../images/gsjsbtn_06.png) 0 4px no-repeat;width: 46px;height: 58px;}
.navlogo13{background:url(../images/gsjsbtn_08.png) 0 6px no-repeat;width: 46px;height: 57px;}
.bigbtn11:hover .navlogo11{background:url(../images/gsjhbtn1_03.png) 0 5px no-repeat;}
.bigbtn12:hover .navlogo12{background:url(../images/gsjhbtn1_06.png) 0 4px no-repeat;}
.bigbtn13:hover .navlogo13{background:url(../images/gsjhbtn1_08.png) 0 6px no-repeat;}
#nav3 a.bigbtnshow .navlogo11{background:url(../images/bigbtn1_03.png) 0 5px no-repeat;}
#nav3 a.bigbtnshow .navlogo12{background:url(../images/bigbtn1_05.png) 0 4px no-repeat;}
#nav3 a.bigbtnshow .navlogo13{background:url(../images/bigbtn1_08.png) 0 6px no-repeat;}
/*改善监控互动_部门经理_改善计划列表*/
.gsjhlist_inner .bottombtn{background:url(../images/jian_03.png) 413px 16px no-repeat;}
.gsjhlist_inner .calendar-input{width:416px;}
.gsjhlist_inner ul li i{width: 85px;}
.gsjhlist_inner .yesbtn1{background: url(../images/gsjhbtn_03.png) 0 0 no-repeat;width: 150px;}
.gsjhlist_inner .yesbtn1:hover{background: url(../images/gsjhbtn2_03.png) 0 0 no-repeat;}
/*改善监控互动_部门经理_改善计划制作*/
.gsjhzz_shenhe div.fl textarea{width:533px;margin-top: 10px;}
.inputcon #calendar{width: 265px;}
.inputcon #calendar.bottombtn{background:url(../images/jian_03.png) 254px 16px no-repeat;}
/*改善监控互动_改善分配*/
.navlogo14{background:url(../images/gsfp_03.png) 0 8px no-repeat;width: 50px;height: 58px;}
.navlogo15{background:url(../images/gsfp_05.png) 0 8px no-repeat;width: 46px;height: 57px;}
.bigbtn14:hover .navlogo14{background:url(../images/gsfp1_03.png) 0 8px no-repeat;}
.bigbtn15:hover .navlogo15{background:url(../images/gsfp1_05.png) 0 8px no-repeat;}
#nav3 a.bigbtnshow .navlogo14{background:url(../images/gsfp1_03.png) 0 8px no-repeat;}
#nav3 a.bigbtnshow .navlogo15{background:url(../images/gsfp1_05.png) 0 8px no-repeat;}
.gsfp_con .calendar-input{width: 270px;}
.gsfp_con .bottombtn{background:url(../images/jian_03.png) 260px 16px no-repeat;}
.gsfp_con li span.wbjs{width: 271px;}
.gsfp_con span.wbjs.bottombtn{background:url(../images/jian_03.png) 260px 16px no-repeat;}
.gsfp_con .downcon li{width: 291px;}
/*改善监控互动_改善分配详情*/
.gsfpxq ul li i{width: 108px;margin-right: 17px;}
.gsfpxq_zp{width:440px;}
.gsfpxq_zp input{border: none;padding: 0 10px;}
.gsfpxq_zp td{border:1px solid #a0a0a0;line-height:30px;text-align: center;}
.gsfpxq li .textarea{height: 59px;}
/*改善监控互动_改善计划审批*/
.gsjhspxq .downcon li{width: 291px;}
/*基础数据管理*/
.navlogo17{background:url(../images/jxsbigbtn_03.png) 0 5px no-repeat;width: 46px;height: 57px;}
.navlogo18{background:url(../images/jxsbigbtn_06.png) 0 7px no-repeat;width: 45px;height: 58px;}
.bigbtn17:hover .navlogo17{background:url(../images/jxsbigbtn1_03.png) 0 8px no-repeat;}
.bigbtn18:hover .navlogo18{background:url(../images/jxsbigbtn1_06.png) 0 7px no-repeat;}
#nav3 a.bigbtnshow .navlogo17{background:url(../images/jxsbigbtn1_03.png) 0 7px no-repeat;}
#nav3 a.bigbtnshow .navlogo18{background:url(../images/jxsbigbtn1_06.png) 0 7px no-repeat;}
.bgxiala,.bgxiala span{width: 120px;cursor: pointer;}
.jxsgl_con .yesbtn{margin-top: 0;margin-left: 0;}
.bgxiala ul,.bgxiala .downcon li{width: 130px;}
.bgxiala .downcon{left: -1px;}
.bgxiala span.wbjs.bottombtn{background:url(../images/jian_03.png) 103px 16px no-repeat;}
.yhgl_con .yesbtn{margin-top: 0;}
/*日历和计划任务计划任务审核*/
.navlogo19{background:url(../images/rilibtn_03.png) 0 4px no-repeat;width: 46px;height: 57px;}
.navlogo20{background:url(../images/rilibtn_06.png) 0 5px no-repeat;width: 48px;height: 58px;}
.navlogo21{background:url(../images/rilibtn_08.png) 0 6px no-repeat;width: 45px;height: 58px;}
.bigbtn19:hover .navlogo19{background:url(../images/rilibtn1_03.png) 0 4px no-repeat;}
.bigbtn20:hover .navlogo20{background:url(../images/rilibtn1_06.png) 0 5px no-repeat;}
.bigbtn21:hover .navlogo21{background:url(../images/rilibtn1_08.png) 0 6px no-repeat;}
#nav3 a.bigbtnshow .navlogo19{background:url(../images/rilibtn1_03.png) 0 4px no-repeat;}
#nav3 a.bigbtnshow .navlogo20{background:url(../images/rilibtn1_06.png) 0 5px no-repeat;}
#nav3 a.bigbtnshow .navlogo21{background:url(../images/rilibtn1_08.png) 0 6px no-repeat;}
.rili_jhrwsh .tongzhi_bt{width: 720px;}
.rili_jhrwsh li span.w_ovh{width: 281px;}
.rili_jhrwsh ul li span{color: #313131;line-height: 40px;}
.rili_li1{width: 83px;}
.rili_jhrwsh ul .rili_li3{width: 628px;line-height: 30px;margin-top: 5px;height: 163px;overflow: hidden;}
.rili_jhrwsh .yesbtn{margin-top: 15px;}
.rili_li2{width: 100px;}
.rili_li4{width: 300px;}
/*日历和计划任务_计划任务查询*/
.rili_tabbt a{width:126px;text-align: center;}
.rili_tabbt a img{left: 50px;display: none;bottom:-8px;}
.rili_tabbt a:hover{background-color: #fff;}
.rili_tabbt a:hover img{display: block;}
.rili_tabbt a.tabbtshow{background-color: #fff;}
.rili_tabbt a.tabbtshow img{display: block;}
.tabbox ul li i{width: 118px}
/*日历和计划任务_任务卡查询*/
.checkbox{display: inline-block;margin: 10px 10px;}
.renwuka .calendar-input{width: 250px;}
.renwuka .bottombtn{background:url(../images/jian_03.png) 245px 16px no-repeat;}
.renwuka_btn{margin:10px 0 10px 0px;}
.renwuka_btn input,.xuanze_rwk .xintx{background-color: #3179b9;color: #fff;border: none;width: 113px;height: 41px;font-size: 15px;}
.renwuka_con{display: none;}
/*计划任务制作*/
.jhrwzz ul .jingxiao{width:545px;}
.jhrwzz .rightbtn{background:url(../images/jian_07.png) 540px 10px no-repeat;}
.jhrwzz li span.wbjs{width: 167px;}
.jhrwzz span.wbjs.bottombtn{background:url(../images/jian_03.png) 153px 16px no-repeat;}
.jhrwzz .renwuka_btn input{font-size: 15px;}
.jhrwzz .renwuka_btn{margin:20px 0 20px 125px;}
.jhrwzz table input{border: none;width: 124px;padding: 0 5px;font-size: 18px;}
.jhrwzz td{width: 148px;}
.jhrwzz_del{background:url(../images/shanchu_03.png) center center no-repeat;width: 18px;height: 18px;}
.jhrwzz_del:hover{background:url(../images/del_03.png) center center no-repeat;}
.jhrwzz .bottom_btn input{float: left;margin: 20px 22px;}
.jhrwzz .bottom_btn {margin-left: 125px;}
.jhrwzz .yesbtn1{background: url(../images/gsjhbtn_03.png) 0 0 no-repeat;width: 150px;}
.jhrwzz .yesbtn1:hover{background: url(../images/gsjhbtn2_03.png) 0 0 no-repeat;}
.jhrwzz #calendar{width: 196px;}
.jhrwzz #calendar.bottombtn{background:url(../images/jian_03.png) 186px 17px no-repeat;}
.bflx .downcon li{width: 187px;}
/*任务卡制作*/
.xuanze_rwk li span.wbjs{width: 189px;}
.xuanze_rwk span.wbjs.bottombtn{background:url(../images/jian_03.png) 181px 16px no-repeat;}
.xuanze_rwk .textarea{width: 675px;}
.xuanze_rwk table input{border: none;padding: 0 5px;font-size: 18px;width: 97px;text-align: center;line-height: 40px;height: 40px;}
.xuanze_rwk .downcon li{width: 209px;}
/*登录页*/
.login_out{width: 100%;position: relative;overflow: hidden;min-width: 1200px;height: 100%;}
.login_inner{width: 1920px;position: absolute;left: 50%;margin-left: -960px;overflow: hidden;}
.login_con{width: 663px;padding-top: 150px;}
.login_bg{background:url(../images/loginbg.jpg) center -180px repeat;width: 1920px;min-height:1100px;height: 100%;} 
.login_logo{width: 239px;border-right: 1px solid #b5b5b5;}
.ml66{margin-left: 66px;margin-bottom: 28px;}
.login_shuru{margin-left: 47px;}
.login_shurubt{font-size: 24px;margin-top: 7px;}
input.login_name,input.login_mima{border-bottom-color:#dcd8d8;  width: 263px;border-left: none;border-right: none;border-top: none;padding: 10px 33px;margin: 7px 0;font-size: 14px; border-bottom-style:solid;}
.login_name{background:url(../images/login_06.png) 0 6px no-repeat;}
.login_mima{background:url(../images/login_10.png) 0 6px no-repeat;}
button.login_yes,input.login_yes{background:url(../images/login_19.png) 0 0 no-repeat;width: 120px;margin-top: 15px;height: 36px;border: none;color: #fff;font-size: 18px;line-height: 36px;}
button.login_yes,input.login_yes:hover{background:url(../images/login_17.png) 0 0 no-repeat;}
/*首页*/
.right_bt .time{width: 387px;font-size: 20px;color: #3179b9;}
/*首页日历部分*/
.index_rili{width:415px;padding-left:20px;height: 472px;padding-bottom: 23px;}
.index_kbt{font-size: 22px;line-height: 29px;color: #313131;}
.index_tabbt li{float: left;font-size: 18px;margin-right: 60px;cursor: pointer;}
.index_tabbt li:hover{border-bottom: 3px solid #00b7ee;}
.index_tabbt li.tabbtshow{border-bottom: 3px solid #00b7ee;}
.index_tabcon span{width:410px;display:none;margin-top: 15px;}
.index_tabcon span.tabshow{display:block;}
.index_tz{padding-left: 15px;}
.index_tabcon img{width: 338px;}
