<!DOCTYPE html>
<html lang="utf-8">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <!-- 为了确保适当的绘制和触屏缩放 -->
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <!-- 在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能。 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" type="text/css" href="~/lib/uploadify/uploadify.css" />
        <link href="~/lib/bootstrap/dist/css/theme/bootstrap-cerulean.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-custom.css" rel="stylesheet" />
        <link href="~/css/wf.popup.css" rel="stylesheet" />
        <link href="~/css/jquery.modaldialog.css" rel="stylesheet" />
        <link href="~/lib/WebFont/awesome-4.1.0/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid-custom.css" rel="stylesheet" />
        <link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />
        <link href="~/css/sitepop.css" rel="stylesheet" />
        <link href="~/lib/uploadify/uploadify.css" rel="stylesheet" />
        <link href="~/lib/lightbox2/css/lightbox.css" rel="stylesheet" />
        <link href="~/css/tipped.css" rel="stylesheet" />
    </environment>
    <environment names="Staging">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" type="text/css" href="~/lib/uploadify/uploadify.css" />
        <link href="~/lib/bootstrap/dist/css/theme/bootstrap-cerulean.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-custom.css" rel="stylesheet" />
        <link href="~/css/wf.popup.css" rel="stylesheet" />
        <link href="~/css/jquery.modaldialog.css" rel="stylesheet" />
        <link href="~/lib/WebFont/awesome-4.1.0/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid-custom.css" rel="stylesheet" />
        <link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />
        <link href="~/css/sitepop.css" rel="stylesheet" />
        <link href="~/lib/uploadify/uploadify.css" rel="stylesheet" />
        <link href="~/lib/lightbox2/css/lightbox.css" rel="stylesheet" />
        <link href="~/css/tipped.css" rel="stylesheet" />
    </environment>
    <environment names="Production">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" type="text/css" href="~/lib/uploadify/uploadify.css" />
        <link href="~/lib/bootstrap/dist/css/theme/bootstrap-cerulean.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-custom.css" rel="stylesheet" />
        <link href="~/css/wf.popup.css" rel="stylesheet" />
        <link href="~/css/jquery.modaldialog.css" rel="stylesheet" />
        <link href="~/lib/WebFont/awesome-4.1.0/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid-custom.css" rel="stylesheet" />
        <link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />
        <link href="~/css/sitepop.css" rel="stylesheet" />
        <link href="~/lib/uploadify/uploadify.css" rel="stylesheet" />
        <link href="~/lib/lightbox2/css/lightbox.css" rel="stylesheet" />
        <link href="~/css/tipped.css" rel="stylesheet" />
    </environment>
    @RenderSection("HeadCss", required: false)
    <script type="text/javascript">
        function fn_popcallback(data) {
            if (window.parent.popcallback) {
                window.parent.popcallback(data);
            }
            else {
                $.sa.warning("没有定义回调函数");
            }
        }
    </script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                @RenderBody()
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/sa/jquery.sa.ajax.js"></script>
        <script src="~/lib/sa/jquery.sa.dialog.js"></script>
        <script src="~/js/Const_API.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap-datetimepicker/i18n/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/lib/jqgrid/jquery.jqGrid.js"></script>
        <script src="~/lib/webuploader/webuploader.js"></script>
        <script src="~/lib/jqgrid/i18n/grid.locale-zh-CN.js"></script>
        <script src="~/lib/uploadify/jquery.uploadify-3.1.js"></script>
        <script src="~/lib/lightbox2/js/lightbox-2.6.min.js"></script>
        <script src="~/js/jquery.dotdotdot-1.5.1.js"></script>
        <script src="~/js/tipped.js"></script>
        <script type="text/javascript" src="/lib/crypto1/crypto/crypto.js"></script>
        <script type="text/javascript" src="/lib/crypto1/hmac/hmac.js"></script>
        <script type="text/javascript" src="/lib/crypto1/sha1/sha1.js"></script>
        <script type="text/javascript" src="/lib/base64.js"></script>
        <script type="text/javascript" src="/lib/plupload-2.1.9/js/plupload.full.min.js"></script>
        <script type="text/javascript" src="/js/upload.js"></script>
    </environment>
    <environment names="Staging">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/sa/jquery.sa.ajax.js"></script>
        <script src="~/lib/sa/jquery.sa.dialog.js"></script>
        <script src="~/js/Const_API_QA.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap-datetimepicker/i18n/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/lib/jqgrid/jquery.jqGrid.js"></script>
        <script src="~/lib/webuploader/webuploader.js"></script>
        <script src="~/lib/jqgrid/i18n/grid.locale-zh-CN.js"></script>
        <script src="~/lib/uploadify/jquery.uploadify-3.1.js"></script>
        <script src="~/lib/lightbox2/js/lightbox-2.6.min.js"></script>
        <script src="~/js/jquery.dotdotdot-1.5.1.js"></script>
        <script src="~/js/tipped.js"></script>
        <script type="text/javascript" src="/lib/crypto1/crypto/crypto.js"></script>
        <script type="text/javascript" src="/lib/crypto1/hmac/hmac.js"></script>
        <script type="text/javascript" src="/lib/crypto1/sha1/sha1.js"></script>
        <script type="text/javascript" src="/lib/base64.js"></script>
        <script type="text/javascript" src="/lib/plupload-2.1.9/js/plupload.full.min.js"></script>
        <script type="text/javascript" src="/js/upload.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/sa/jquery.sa.ajax.js"></script>
        <script src="~/lib/sa/jquery.sa.dialog.js"></script>
        <script src="~/js/Const_API_PRD.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap-datetimepicker/i18n/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/lib/jqgrid/jquery.jqGrid.js"></script>
        <script src="~/lib/webuploader/webuploader.js"></script>
        <script src="~/lib/jqgrid/i18n/grid.locale-zh-CN.js"></script>
        <script src="~/lib/uploadify/jquery.uploadify-3.1.js"></script>
        <script src="~/lib/lightbox2/js/lightbox-2.6.min.js"></script>
        <script src="~/js/jquery.dotdotdot-1.5.1.js"></script>
        <script src="~/js/tipped.js"></script>
        <script type="text/javascript" src="/lib/crypto1/crypto/crypto.js"></script>
        <script type="text/javascript" src="/lib/crypto1/hmac/hmac.js"></script>
        <script type="text/javascript" src="/lib/crypto1/sha1/sha1.js"></script>
        <script type="text/javascript" src="/lib/base64.js"></script>
        <script type="text/javascript" src="/lib/plupload-2.1.9/js/plupload.full.min.js"></script>
        <script type="text/javascript" src="/js/upload.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
