@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "登记事项";
}
@section HeadCss{
     <link href="~/lib/bootstrap-clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" />
    <style type="text/css">
    </style>
}
<div class="container-fluid" style="margin-left: -15px; margin-right: -15px">
    <div class="row gap-top">
        <div class="col-md-12 col-sm-12">
            <div class="input-group">
                <span class="input-group-addon title-sm "><font color="red">*</font>&nbsp;概述</span>
                <input class="form-control" id="input_title_id"/>
            </div>
        </div>
    </div>
    <div class="row gap-top">
        <div class="col-md-6  col-sm-6 col-xs-8">
            <div class="input-group">
                <span class="input-group-addon title-sm ">开始时间</span>
                <input type="text" class="form_datetime form-control text-center" id="txtSDate" readonly style="background-color:white"/>
            </div>
        </div>
        <div class="col-md-6  col-sm-6 col-xs-4">
            <div class="input-group" id="StartTime" data-placement="center" data-align="center" data-autoclose="true">
                <input id="input_starttime_id" type="text" class="form-control" value="08:00"  style="text-align: center;background-color:white" readonly/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
        </div>
    </div>
    <div class="row gap-top">
        <div class="col-md-6  col-sm-6 col-xs-8">
            <div class="input-group">
                <span class="input-group-addon title-sm ">结束时间</span>
                <input type="text" class="form_datetime form-control text-center" id="txtEDate" readonly style="background-color:white"/>
            </div>
        </div>
        <div class="col-md-6  col-sm-6 col-xs-4">
            <div class="input-group" id="EndTime" data-placement="center" data-align="center" data-autoclose="true">
                <input id="input_endtime_id" type="text" class="form-control" value="08:00" style="text-align: center;background-color:white"  readonly/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
        </div>
   </div>
    <div class="row gap-top">
        <div class="col-md-12 col-sm-12">
            <div class="input-group">
                <span class="input-group-addon title-sm">详细</span>
                <textarea class="form-control" style="height: 200px" id="area_detail_id" maxlength="1000"></textarea>
            </div>
        </div>
    </div>
    <div class="row gap-top" style="position: absolute; left: 40%;margin-top: 3em">
        <div class="col-md-12 col-sm-12 gap-top text-center">
            @*<button type="button" class="btn btn-primary" id="btn_clear_id" onclick="fn_Clear()">
                <span class="fa fa-undo gap-icon-right">清空</span>
            </button>*@
            <button type="button" class="btn btn-primary" id="btn_save_id" >
                <span class="fa fa-save gap-icon-right">保存</span>
            </button>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/lib/bootstrap-clockpicker/bootstrap-clockpicker.min.js"></script>
    <script type="text/javascript">
        var _reqItem;
        _reqItem = Request["pamItem"] != undefined ? JSON.parse(Request["pamItem"]) : {};
        $(document).ready(function () {
            $(".form_datetime").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2, //显示到具体日期，如果设置到1，则显示到具体时间点。
                autoclose: 1,
                todayHighlight: 1,
                todayBtn: 1,
                startView: 2, //开始页面设置为具体到日期的那个页面。
                pickerPosition: 'bottom-left'
            });
            DateFormatCheckEvent("txtSDate");
            DateFormatCheckEvent("txtEDate");
            $("#StartTime").clockpicker({ placement: 'left' });
            $("#EndTime").clockpicker({ placement: 'left' });

            $('#btn_save_id').on('click', function () {
                if (fn_SaveValidate())
                    fn_SaveItem();
            });
            fn_InitData();
        });
    </script>
    <script type="text/javascript">
        function fn_InitData() {
            if (_reqItem.Id==undefined||_reqItem.Id==0) {
                $("#input_title_id").val("");
                $("#area_detail_id").val("");

                $("#txtSDate").val(_reqItem.SDate.substring(0,10));
                $("#txtEDate").val(_reqItem.EDate.substring(0,10));
                $(window.frames.document).find("#input_starttime_id").val(_reqItem.SDate.substring(11));
                $(window.frames.document).find("#input_endtime_id").val(_reqItem.EDate.substring(11));
            } else {
                $("#input_title_id").val(_reqItem.Title);
                $("#area_detail_id").val(_reqItem.Content);

                $("#txtSDate").val(_reqItem.SDate.substring(0, 10));
                $("#txtEDate").val(_reqItem.EDate.substring(0, 10));
                $(window.frames.document).find("#input_starttime_id").val(_reqItem.SDate.substring(11));
                $(window.frames.document).find("#input_endtime_id").val(_reqItem.EDate.substring(11));

                if (_reqItem.Type == "S") {
                    $("#input_title_id").attr("readonly",true);
                    $("#area_detail_id").attr("readonly", true);

                    $("#txtSDate").css("background-color", "");
                    $("#txtEDate").css("background-color", "");
                    $("#input_starttime_id").css("background-color", "");
                    $("#input_endtime_id").css("background-color", "");

                    $("#txtSDate").attr("disabled", true);
                    $("#txtEDate").attr("disabled", true);
                    $("#input_starttime_id").attr("disabled", true);
                    $("#input_endtime_id").attr("disabled", true);
                    $("#StartTime>span").remove(".input-group-addon");
                    $("#EndTime>span").remove(".input-group-addon");
                    $('#btn_save_id').hide();
                }
            }
        }
    </script>
    <script type="text/javascript">
        function fn_SaveValidate() {
            var isValiA = true;
            var isValiB = true;

            if ($.trim($("#input_title_id").val()) == "")
                isValiA = false;
            if (new Date($("#txtSDate").val() + ' ' + $("#input_starttime_id").val()) >new Date( $("#txtEDate").val() + ' ' + $("#input_endtime_id").val()))
                isValiB = false;

            if (!isValiA) {
                $.sa.warning("请输入概述", {
                    title: "警告！", fnClose: function () {
                        $("#input_title_id").focus();
                    }
                });
            }
            if (!isValiB) {
                $.sa.warning("开始时间不能大于结束时间", {
                    title: "警告！", fnClose: function () {
                        $("#txtSDate").focus();
                    }
                });
            }
            return isValiA & isValiB;
        }
    </script>
    <script type="text/javascript">
        function fn_SaveItem() {
            var myDialog = $.sa.confirm('是否要保存？', {
                fnOk: function () {
                    var param = {};
                    if (_reqItem.Id ==undefined||_reqItem.Id==0) {
                        param["Id"] = 0;
                        param["Title"] = $("#input_title_id").val();
                        param["Content"] = $("#area_detail_id").val();
                        param["Type"] = "T";
                        param["SDate"] = $("#txtSDate").val() + ' ' + $("#input_starttime_id").val();
                        param["EDate"] = $("#txtEDate").val() + ' ' + $("#input_endtime_id").val();
                        param["UserID"] = '@Context.Request.Cookies[SessionKeys.SESSION_USERID]';
                    } else {
                        param["Id"] = _reqItem.Id;
                        param["Title"] = $("#input_title_id").val();
                        param["Content"] = $("#area_detail_id").val();
                        param["Type"] = "T";
                        param["SDate"] = $("#txtSDate").val() + ' ' + $("#input_starttime_id").val();
                        param["EDate"] = $("#txtEDate").val() + ' ' + $("#input_endtime_id").val();
                        param["UserID"] = '@Context.Request.Cookies[SessionKeys.SESSION_USERID]';
                    }
                    $.sa.post(SAVECALENDERITEM,
                        JSON.stringify(param),
                                {
                                    "success": function (data) {
                                        if (data != null) {
                                            param["Id"] = JSON.parse(data.body)[0];
                                            $.sa.alert('保存完成', { maxWidth: '400px', minWidth: '300px', showClose: false });
                                            myDialog.close();
                                            parent.popcallback(param);
                                        }
                                    },
                                    "failure": function (data, statusText, jqXHR) {
                                        $("#callback_1_layer").html(data.msg);
                                    }
                                }
                                , $("body"));
                }
            });
        }
    </script>
}
