@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "来源类型选择";
}
@section Scripts{
 <!-- 1. Load -->
<script type="text/javascript">
        $(document).ready(function () {
            Initialize();
            InitData();
        });
</script>
    <!-- 2. Init -->
<script type="text/javascript"> 
    function Initialize() {      
        $("#selsourceType").on("change", function () {
            fn_typeChange();
        });
    }
        function InitData() {
            fn_initsourceType();
        }
</script>
     <!-- 4. Custom Function -->
<script type="text/javascript">
    function fn_initsourceType() {
        //$.sa.get('http://toyotaqaapi.elandcloud.com/toyota/api/v1/PlanTask/GetStatus',
        $.sa.get(TASKGETSTATUS,
                       { GroupCode: '15' },
                       {
                           "success": function (data) {
                               if (data != null) {
                                   $('#selsourceType').html(JsonToCboList("Name", "Value", JSON.parse(data.body), { "SelectType": "SELECT" }));
                                   //$.sa.warning(data.body);
                               }
                           },
                           "failure": function (data, statusText, jqXHR) {
                               $.sa.warning(data.msg);
                           }
                       });
    }
    function fn_typeChange() {
        var soueceType = $("#selsourceType").val();
        if (soueceType == "select") {
            $.sa.warning("请选择来源类型。");
            return;
        } else {
            var disList = [];
            disList.push($("#selsourceType").val());
        }
       window.parent.popcallback(disList);
    }
</script>
 }
<div>
    <div class="row-fluid">
        <div class="col-xs-12">
            <div class="input-group">
                <span class="input-group-addon title-sm">来源类型</span>
                <select class="form-control" id="selsourceType"></select>
            </div>
        </div>
    </div>
</div>
