@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "推送方式";
}
@section Scripts{
<style type="text/css">
    #txtTemplate {
        height: 450px;
        max-height: 450px; 
        width:100%;     
        max-width:100%;     
    } 
</style>
    <!-- 1. Load -->
    <script type="text/javascript">
        var content = "";
        $(document).ready(function () {
            Initialize();
            InitData();
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function Initialize() {
            $("#btnCancel").on("click", function () {
                window.parent.popcallback("");
            });
            $("#btnPush").on("click", function () {
                fn_SendPush();
            });
            $("#selPushType").on("change", function () {
                fn_ChangeContent();
            });
        }

        function InitData() {
            //$.sa.get('http://10.202.101.58:6505/toyota/api/v1/PlanTask/GetPushInfoForPlanId',
            $.sa.get(GETPUSHINFOBYPLANID,
                        { PId: '@ViewBag.PId' },
                        {
                            "success": function (data) {
                                if (data != null) {
                                    content = JSON.parse(data.body);
                                    $("#txtTemplate").attr("disabled", "disabled");
                                    $("#txtTemplate").val(JSON.parse(data.body)[0].PCContent);
                                    //$('#selType').html(JsonToCboList("Name", "Value", JSON.parse(data.body), { "SelectType": "SELECT" }));
                                    //$.sa.warning(data.body);
                                }
                            },
                            "failure": function (data, statusText, jqXHR) {
                                $.sa.warning(data.msg);
                            }
                        });
        }
    </script>
    <!-- 3. Validate -->
    <script type="text/javascript">
    </script>
    <!-- 4. Custom Function -->
    <script type="text/javascript">
        function fn_ChangeContent() {
            if ($("#selPushType").val() == "2") {
                $("#txtTemplate").removeAttr("disabled");
                $("#txtTemplate").val(content[0].PCContent);
            } else {
                $("#txtTemplate").attr("disabled", "disabled");
                $("#txtTemplate").val(content[0].PCContent);
            }

        }
        function fn_SendPush() {
            var content="0"
            if ($("#selPushType").val() == "2")
            {
                content = $("#txtTemplate").val();
            }
            var item = { Id: '@ViewBag.PId', UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]', Content: content }
            //$.sa.post('http://10.202.101.58:6505/toyota/api/v1/PlanTask/PlansPush',
             $.sa.post(PLANSPUSH,
                     JSON.stringify(item),
                     {
                         "success": function (data) {
                             window.parent.popcallback("S");
                             //$.sa.warning("推送经销商通知成功！");
                             //fn_SetGrid("");
                         },
                         "failure": function (data, statusText, jqXHR) {
                             //fn_SetGrid("");
                             $.sa.warning(data.msg);
                         }
                     }, $("body"));
        }
    </script>
    <!-- 5. Grid -->
    <script type="text/javascript">
    </script>
}
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button id="btnPush" class="btn btn-primary">
                发送通知
            </button>
            <button id="btnCancel" class="btn btn-danger">
                取消
            </button>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon">推送方式</span>
            <select class="form-control" id="selPushType">
                <option value="1">模板推送</option>
                <option value="2">自定义推送</option>
            </select>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <textarea class="form-control" id="txtTemplate"></textarea>
    </div>
</div>
